Gemfile.lock
.ruby-version

# Created by https://www.gitignore.io/api/jekyll
# Edit at https://www.gitignore.io/?templates=jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# End of https://www.gitignore.io/api/jekyll


# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode