<section class="contacter-nous">
  <div class="container">
    <div class="row row-contacter-nous">
      <div class="div-contact col-md-7 col-sm-12 text-left" data-aos="fade-right">
        <span> vous avez un projet ou vous souhaitez plus d’information ?</span>
      </div>
      <div class="parent-contactez col-md-5 col-sm-12 text-right">
        <button type="button" class="btn contactez" data-aos="zoom-out" data-aos-anchor=".div-contact" data-aos-delay="300" onclick="redirect_to('/contact');">contactez-nous !</button>
      </div>
    </div>
  </div>
</section>
