<section class="competences mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div id="comp1" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3" data-aos="fade-up">
        <a class="comp_link" href="skills#pills-mission">
          <img class="img-fluid" src="../assets/img/page-realisations/mission.svg" />
          <h5 class="name title-competence">Mission AMO Grands Projets</h5>
          <p class="description contenu-competence">
            Rail Concept intervient dans la réalisation de "Grands Projets Ferroviaires" en tant qu'assistant du maître d'ouvrage afin de l'aider à définir, piloter et exploit le projet.
          </p>
          <a class="sav" href="skills#pills-mission">En savoir plus</a>
        </a>
      </div>
      <div id="comp2" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3" data-aos="fade-up" data-aos-delay="150">
        <a class="comp_link" href="skills#pills-etude"
          ><img class="img-fluid" src="../assets/img/page-realisations/etude.svg" />
          <h5 class="name title-competence">Études</h5>
          <p class="description contenu-competence">Rail Concept réalise des études principalement en phase amont de projet ferroviaire.</p>
          <a class="sav" href="skills#pills-etude">En savoir plus</a>
        </a>
      </div>
      <div id="comp3" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3" data-aos="fade-up" data-aos-delay="300">
        <a class="comp_link" href="skills#pills-expert"
          ><img class="img-fluid" src="../assets/img/page-realisations/expertise.svg" />
          <h5 class="name title-competence">Expertise / Conseil</h5>
          <p class="description contenu-competence">Rail Concept accompagne ses collaborateurs afin d'apporter son expertise dans le cadre de la réalisation de projets ferroviaires.</p>
          <a class="sav" href="skills#pills-expert">En savoir plus</a>
        </a>
      </div>
      <div id="comp4" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3" data-aos="fade-up" data-aos-delay="450">
        <a class="comp_link" href="skills#pills-logiciel"
          ><img class="img-fluid" src="../assets/img/page-realisations/logiciels.svg" />
          <h5 class="name title-competence">Logiciels spécialisés</h5>
          <p class="description contenu-competence">Rail Concept développe, grâce à ses experts informatiques, des logiciels pour répondre à toutes sortes de problématiques.</p>
          <a class="sav" href="skills#pills-logiciel">En savoir plus</a>
        </a>
      </div>
    </div>
  </div>
</section>
