<div id="div-navbar">
        <div id="container-navbar" class="container">
            <nav id="navbar" class="navbar navbar-light navbar-expand-lg">
                <a class="navbar-brand navbar-logo" href="{{ site.siteurl }}/en/"><img
                        class="img-fluid d-lg-flex justify-content-lg-end align-items-lg-end"
                        src="{{ site.baseurl }}/assets/img/logo/logo.png" id="logo"></a>
    
    
                <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbar-menu"
                    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation"
                    data-aos="fade-left">
                    <div class="animated-icon2 ">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
    
    
                <div id="navbar-menu" class="collapse navbar-collapse main-menu">
                    <ul class="nav navbar-nav ml-auto"> 
                        <li class="nav-item nav-li  " role="presentation"><a id="about_us"
                                class="nav-link link-navbar" href="{{site.baseurl }}/en/about_us">About us</a></li>
                        <li class="nav-item nav-li" role="presentation"><a id="skills" class="nav-link link-navbar"
                                href="{{ site.baseurl }}/en/skills">Our Skills</a></li>
                        <li class="nav-item nav-li" role="presentation"><a id="achievements" class="nav-link link-navbar"
                                href="{{ site.baseurl }}/en/achievements">Our achievements</a></li>
                        <li class="nav-item nav-li" role="presentation"><a id="join_us" class="nav-link link-navbar"
                                href="{{ site.baseurl }}/en/join_us">Join US</a></li>
                        <li class="nav-item nav-li" role="presentation"><a id="news" class="nav-link link-navbar"
                                href="{{ site.baseurl }}/en/news">News</a></li>
                        <li class="nav-item nav-li mr-5" role="presentation"><a id="contact" class="nav-link link-navbar"
                                href="{{ site.baseurl }}/en/contact">contact</a></li>
                        <li class="nav-item nav-li text-center no-underline" role="presentation" id="search">
                            <a class="nav-link link-navbar hvr-grow" href="{{site.baseurl }}/#" id="search-link"><img class="loope"
                                    src="{{ site.baseurl }}/assets/img/flags/loupe.png" /></a>
                            <input id="input-search" type="text" class="search-txt shadow-none" placeholder="search..."
                                name="search-txt" />
                        </li>
                        <li id="lang" class="dropdown nav-item nav-li no-underline">
    
                            <a class="nav-link link-navbar dropdown-toggle lang-select hvr-wobble-vertical "
                                data-toggle="dropdown" href="{{ site.siteurl }}/en" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="flags" src="{{ site.baseurl }}/assets/img/flags/gb.png">
                            </a>
                            <div id="select_flag" class="dropdown-menu">
                                <a id="dropdown-flags" class="dropdown-item hvr-grow" href="{{ site.siteurl }}">
                                    <img class="flags" src="{{ site.baseurl }}/assets/img/flags/fr.png">Frensh</a>
                            </div>
                        </li>
                    </ul>
    
                    
                </div>
            </nav>
        </div>
    </div>  