<section class="contacter-nous" >
    <div class="container">
        <div class="row row-contacter-nous ">
            <div class="div-contact col-md-8 col-sm-12 text-left">
               <span> vous avez un projet ou vous souhaitez plus d’information ?</span>
            </div>
        <div class="parent-contactez col-md-4 col-sm-12 ">
                    
                    <button type="button" class="btn contactez float-right " data-aos="zoom-in" onclick="redirect_to('/en/contact');"> Contact US !</button>
                   
        </div>  
            
        </div>
       
    </div>
</section>