
 <span class="d-none">foooooterxxx</span>
 <footer>
     <section id="footer">
             <div class="container">
                 <div class="row text-center text-xs-center text-sm-center text-md-left ">
                     <div class="col-md-3 col-xs-12 col-sm-12 pl-0 pr-0">
                     <div class="col-12">
                             <img class="logo-footer" src="{{ site.baseurl }}/assets/img/logo/logo.png" >
                     </div> 
                     <div class="col-12 adresse">
                         <div class="row">
                             <div class="col-1 pl-0">
                                     <img src="{{ site.baseurl }}/assets/img/footer/loc.png" class="position">
                             </div>
                             <div class="col-11 pl-0">
                                     
                                     {{site.data.website_settings.seo.location.street_adress}}  <br>
                                     {{site.data.website_settings.seo.location.region}} <br>
                                     {{site.data.website_settings.seo.location.country}}
                                     
                             </div>
                      </div>
                     </div>  
                     <div class="col-12 tel">
                             <div class="row">
                             <div class="col-1 pl-0">
                                     <img src="{{ site.baseurl }}/assets/img/footer/tel.png" class="position">
                             </div>
                             <div class="col-11 pl-0">
                                 <a id="phone" href="tel:{{site.data.website_settings.seo.tel}}">{{site.data.website_settings.seo.tel_display}}</a>
                                   
 
                             </div>
                            
                       </div>
                     </div>
                         
                     </div>
                     <div class="col-md-2 col-xs-12 col-sm-12 pl-0 pr-0 mt-3">
                         <div class="footer-title "><a href="{{ site.baseurl }}/en/about-us"> Know US</a></div>
                         <div class="groupe ">
                             <a href="{{ site.baseurl }}/en/about-us/#nous" class="footer-body">Qui sommes-nous</a><br>
                             <a href="{{ site.baseurl }}/en/about-us/#notre-equipe" class="footer-body">Notre équipe</a><br>
                         </div>
                         <div class="footer-title mt-3"><a href="{{ site.baseurl }}/en/our-skills">nos compétences</a></div>
                         <div class="groupe ">
                            <a href="{{ site.baseurl }}/en/our-skills/#pills-mission" class="footer-body"> Mission AMO grands projets</a><br>
                             <a href="{{ site.baseurl }}/en/our-skills/#pills-etude" class="footer-body"> études</a><br>
                             <a href="{{ site.baseurl }}/en/our-skills/#pills-expert" class="footer-body">Expertise / Conseil</a><br>
                             <a href="{{ site.baseurl }}/en/our-skills/#pills-logiciel" class="footer-body">Logiciels spécialisés</a><br>
                         </div>
                     </div>
     
                     <div class="col-md-3 col-xs-12 col-sm-12 mt-3">
                         <div class="footer-title "> <a href="#">nos réalisations</a></div>
                         <div class="groupe">
                             <a href="{{ site.baseurl }}/en/our-achievements/#mission" class="footer-body">Mission AMO Grands Projets</a><br>
                             <a href="{{ site.baseurl }}/en/our-achievements/#etude" class="footer-body">études</a><br>
                             <a href="{{ site.baseurl }}/en/our-achievements/#expert" class="footer-body">Expertise / Conseil</a><br>
                             <a href="{{ site.baseurl }}/en/our-achievements/#logiciel" class="footer-body">Vente logiciel</a><br>
                         </div>
     
                         <div class="footer-title mt-3 "><a href="{{ site.baseurl }}/en/join-us">carrières</a></div>
                         <div class="footer-title mt-3 "><a href="{{ site.baseurl }}/en/news">actualités</a></div>
                     </div>
                     
                     <div class="col-md-4 col-xs-12 col-sm-12 mt-3">
                            <div class="footer-title">abonnez-vous à notre newsletter !</div>
                            <form action="{{ site.baseurl }}/success/en"  name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
                                    <p class="hidden">
                                            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                                          </p>
                            <div class="form-group input-group mt20">
                                <input name="newsletter" class="form-control bg newsletter" placeholder="Email" type="email" required>
                                <div class="input-group-prepend">
                                    <button type="submit" class="boutton input-group-text btn enveloppe"><img src="{{ site.baseurl }}/assets/img/footer/Enveloppe.png"> </button>
                                </div>
                            </div>
                           </form>
                            <div class="footer-title mt-3">suivez-nous sur les réseaux!</div>
                            <br/>
                            <a href="{{site.data.website_settings.seo.facebook}}" class="footer-title mr-2" target="_blank"><img id="facebook" src="{{ site.baseurl }}/assets/img/footer/facebook.png"
                                                                  height="27"></a>
                            <a href="{{site.data.website_settings.seo.linkedin}}" class="footer-title" target="_blank" ><img src="{{ site.baseurl }}/assets/img/footer/linkedin.png" height="27"></a>
        
                            <div class="footer-title mt-3">vous souhaitez faire parti de l’équipe</div>
                            <div class="form-group text-left  text-xs-center text-sm-center" >
                                <a href="/contact" class="contactez-red btn  mt10" data-aos="zoom-in" data-aos-anchor=".contactez"> contactez-nous !</a>
                            </div>
                        </div>


                 </div>
             </div>
         </section>
 
 
 
         <!-- COPYRIGHT-->
 
         <section class="copyright">
                 <div class="container text-center">
                     <div class="row  ">
                         <div class="col-md-2 Copyrightcol">
                             <a href="#" class="color">Plan du site</a>
                         </div>
                         <div class="col-md-2 Copyrightcol">
                             <a href="#" class="color">Mentions Légales</a>
                         </div>
                         <div class="col-md-2 Copyrightcol">
                             <a href="#" class="color">Nous contacter</a>
                         </div>
                         <div class="col-md-6  Copyrightcol text-center pl-0 pr-0">
                             <div class="row pl-0 pr-0">
                            <div class="col-md-10 col-sm-12 pl-0 pr-0"> Copyright © 2019 www.railconcept.fr - Design by Agence de communication Montpellier</div>
                             <div class="col-md-2 col-sm-12 pl-0 pr-0"><img src="{{ site.baseurl }}/assets/img/footer/logo gazoline.png" height="17"></div>
                         </div>
                         </div>
                     </div>
                 </div>
             </section>
 
 </footer>
 
 
 <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
 <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
 <script src="{{ site.baseurl }}/assets/js/pagination.js"></script>
      <!-- Google maps -->
 <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB65wydiX_2ds_jzgKwaO3ZyaOX85HF5ww"> </script>
 <script src="{{ site.baseurl }}/assets/js/bootstrap-swipe-carousel.min.js"></script>
 <script src="{{ site.baseurl }}/assets/js/aos.js"></script>
 <script src="{{ site.baseurl }}/assets/js/sweetalert2.js"></script>
 <script src="{{ site.baseurl }}/assets/js/lunr.js"></script>
 <script src="{{ site.baseurl }}/assets/js/search.js"></script>
 <script src="{{ site.baseurl }}/assets/js/eng-main.js"></script>
 
 </body>
 
 </html>    
 