<section class="competences mt-5 mb-5">
  <div class="container">
      <div class="row ">
            
          <div id="comp1" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3" data-aos="fade-up">
                <a class="comp_link" href="skills#pills-mission">
              <img class="img-fluid" src="../assets/img/page-realisations/mission.svg">
              <h5 class="name title-competence">Études Amont</h5>
              <p class="description contenu-competence">
                Rail Concept est spécialisé dans la réalisation d’études ferroviaires, notamment lors des phases amont.
              </p>
              <a class="sav" href="skills#pills-mission">En savoir plus</a>
                </a>
          </div>
          <div id="comp2" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3 "  data-aos="fade-up"  data-aos-delay="150"  >
              <a class="comp_link" href="skills#pills-etude"><img class="img-fluid" src="../assets/img/page-realisations/etude.svg">
              <h5 class="name title-competence">Missions d'expertise, de conseil</h5>
              <p class="description contenu-competence">
              Nous réalisons des missions d'expertise et de conseil sur des sujets 
              </p>
              <a class="sav" href="skills#pills-etude">En savoir plus</a>
            </a>
          </div>
          <div id="comp3" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3 " data-aos="fade-up"  data-aos-delay="300"  >
              <a class="comp_link" href="skills#pills-expert"><img class="img-fluid" src="../assets/img/page-realisations/expertise.svg">
              <h5 class="name title-competence">Assistance à maitrise d’ouvrage</h5>
              <p class="description contenu-competence">
                Nous intervenons en appui de la maitrise d’ouvrage sur de nombreux projets ferroviaires d’envergure.
              </p>
              <a class="sav" href="skills#pills-expert">En savoir plus</a>
            </a>
          </div>
          <div id="comp4" class="comp col-sm-6 col-lg-3 text-center justify-content-center mt-3 " data-aos="fade-up"  data-aos-delay="450" >
              <a class="comp_link" href="skills#pills-logiciel"><img class="img-fluid" src="../assets/img/page-realisations/logiciels.svg">
              <h5 class="name title-competence">Logiciels experts</h5>
              <p class="description contenu-competence">
                Nous avons développé et nous continuons d’améliorer différents logiciels nous permettant d’adresser les problématiques les plus complexes.
              </p>
              <a class="sav" href="skills#pills-logiciel">En savoir plus</a>
              </a>
          </div>
      </div>
   </div>
</section>