<span class="d-none">foooooterxxx</span>
<footer>
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">
          <div class="adresse mb-4">
            <div class="footer-title">
              <i class="fa fa-solid fa-location-dot me-1"></i>
              Siège social
            </div>
            <div class="ps-3">{{ site.data.website_settings.seo.location.street_adress }}
            </div>
            <div class="ps-3">{{ site.data.website_settings.seo.location.region }}
            </div>
            <div class="ps-3">{{ site.data.website_settings.seo.location.country }}
            </div>
          </div>
          <div class="adresse mb-4">
            <div class="footer-title">
              <i class="fa fa-solid fa-location-dot me-1"></i>
              Bureaux parisiens
            </div>
            <div class="ps-3">1 Rue Emile gilbert</div>
            <div class="ps-3">75012 Paris</div>
            <div class="ps-3">France</div>
          </div>
          <div class="tel">
            <i class="fa fa-solid fa-phone"></i>
            <a
              id="phone"
              href="tel:+33490905485"
              class="ms-1">{{ site.data.website_settings.seo.tel_display }}
            </a>
          </div>

          <div class="ps-3">
            <a
              class="footer-body"
              href="{{ site.baseurl }}/mentions-legales"
              title="">Mentions légales</a>
          </div>
          <div class="ps-3">
            <a
              class="footer-body"
              href="{{ site.baseurl }}/plan-site"
              title="">Plan du site</a>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-6">
              <div class="footer-title">
                <a href="{{ site.baseurl }}/rejoignez-nous">Carrières</a>
              </div>
              <div class="groupe">
                <a href="{{ site.baseurl }}/nos-metiers" class="footer-body">Nos métiers</a><br/>
                <a href="{{ site.baseurl }}/rejoignez-nous" class="footer-body">Rejoignez-nous</a>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-title">
                <a href="{{ site.baseurl }}/qui-sommes-nous">Nous connaître</a>
              </div>
              <div class="groupe">
                <a href="{{ site.baseurl }}/qui-sommes-nous#nous" class="footer-body">Qui sommes-nous</a>
                <br/>
                <a href="{{ site.baseurl }}/qui-sommes-nous#notre-equipe" class="footer-body">Notre équipe</a>
                <br/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="footer-title">
                <a href="{{ site.baseurl }}/competences">Nos compétences</a>
              </div>
              <div class="groupe">
                <a href="{{ site.baseurl }}/competences#pills-mission" class="footer-body">Mission AMO grands projets</a><br/>
                <a href="{{ site.baseurl }}/competences#pills-etude" class="footer-body">
                  Études</a><br/>
                <a href="{{ site.baseurl }}/competences#pills-expert" class="footer-body">Expertise / Conseil</a><br/>
                <a href="{{ site.baseurl }}/competences#pills-logiciel" class="footer-body">Logiciels spécialisés</a><br/>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-title">
                <a href="{{ site.baseurl }}/realisations">nos réalisations</a>
              </div>
              <div class="groupe">
                <a href="{{ site.baseurl }}/realisations#mission" class="footer-body footer-real">Mission AMO Grands Projets</a><br/>
                <a href="{{ site.baseurl }}/realisations#etudex" class="footer-body footer-real">Études</a>
                <br/>
                <a href="{{ site.baseurl }}/realisations#expert" class="footer-body footer-real">Expertise / Conseil</a>
                <br/>
                <a href="{{ site.baseurl }}/realisations#vente" class="footer-body footer-real">Vente logiciel</a><br/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="footer-title">
                <a href="{{ site.baseurl }}/actualites">Actualités</a>
              </div>
              <div class="groupe">
                {% for post in site.posts limit: 3 %}
                  <a
                    href=" {{ post.url }}"
                    class="footer-body d-inline-block text-truncate"
                    style="max-width: 325px">{{ post.title | markdownify | strip_html }}</a>
                  <br/>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 d-flex flex-column">
          <div class="flex-grow-0 mb-3 ms-2">
            <div class="footer-title">Suivez-nous sur les réseaux !</div>
            <a
              href="{{site.data.website_settings.seo.linkedin}}"
              class="footer-title"
              target="_blank">
              <img src="{{ site.baseurl }}/assets/img/footer/linkedn.png" height="27" />
            </a>
          </div>
          <div class="flex-grow-1 flex-column d-flex ms-2">
            <div class="footer-title flex-grow-0">
              Vous souhaitez faire partie de l’équipe ?
            </div>
            <div class="form-group flex-grow-1 align-self-center d-flex m-3">
              <a
                href="mailto:commercial@railconcept.fr"
                class="contactez-red align-self-center btn"
                data-aos="zoom-in"
                data-aos-anchor=".contactez">
                Contactez-nous !
              </a>
            </div>
          </div>
          <div class="flex-grow-0 ms-2">
            <div class="text-right footer-body-copyright mb-2">Copyright © {{ site.time | date: "%Y" }} railconcept.fr</div>
            <a
              class="d-flex"
              href="https://www.studiogazoline.com/"
              target="_blank">
              <span class="text-right me-2 footer-body-copyright">Design by Agence de communication Montpellier</span>
              <img
                class="flex-grow-0 align-self-center"
                src="{{ site.baseurl }}/assets/img/footer/logo gazoline.png"
                alt="logo studio gazoline" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>

<!--script src="https://cdn.jsdelivr.net/npm/bootstrap-carousel-swipe@0.0.6/carousel-swipe.min.js"></script-->
<script src="{{ site.baseurl }}/assets/js/bootstrap-swipe-carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


{% comment %}
<!-- Google maps -->
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyAozQaU5jTHkPxxFhJ1RHVk8dEvj5njSIc",
    v: "weekly",
    language: "fr",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
{% endcomment %} 


<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAozQaU5jTHkPxxFhJ1RHVk8dEvj5njSIc"></script>

-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.20/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/pace.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/assets/js/mapquickfix.js"></script>
<script src="{{ site.baseurl }}/assets/js/maps.js"></script>
<script src="{{ site.baseurl }}/assets/js/pagination.js"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>



