<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<title>{{site.title}} | {{ page.title }}</title>
<meta name="description" content="{{site.data.website_settings.seo.website_desc}}" />

<meta http-equiv="Content-Security-Policy" content="
    script-src 'self' 'unsafe-inline' https: 'unsafe-eval' blob:;
    img-src 'self' https://cdnjs.cloudflare.com/ https://*.googleapis.com https://*.gstatic.com *.google.com *.googleusercontent.com data:;
    frame-src *.google.com;
    connect-src 'self' https://*.googleapis.com *.google.com https://*.gstatic.com data: blob:;
    font-src https://cdnjs.cloudflare.com/ https://fonts.gstatic.com;
    style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com/ https://fonts.googleapis.com;
    worker-src blob:;" />

<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" rel="stylesheet" type="text/css" />

<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" type="text/css" />

