    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{site.title}} | {{ page.title }}</title>
    <meta name="description" content="{{site.data.website_settings.seo.website_desc}}">
    
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
  
    <link href="{{ site.baseurl }}/assets/fonts/fontawesome-all.min.css"  rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/aos.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/magnific-popup.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/hover.css" rel="stylesheet" type="text/css">

 