    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{site.title}} | {{ page.title }}</title>
    <meta name="description" content="{{site.data.website_settings.seo.website_desc}}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
  
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/fontawesome-all.min.css">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">