---
title: Our business
layout: eng-default
permalink: /en/our_business
---

<div class="competence  nos_metiers text-center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class="header-realisation" data-aos="fade-up">
                    our business
            </h1>
        </div>

        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item "><a href="{{ site.baseurl }}/en/" class="item-1">home</a></li>
            <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/our_business" class="item-1">Our business</a>
            </li>
        </ol>

    </div>
</div>



<!--a-proposdenous-->
<section id="nous" class="propos-de-nous poste pb-5 mb-3">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <div class=" title-news  title-section mt-0 mb-5" data-aos="fade-up">à propos de nous</div>
                <div class="paragraphe-news  ml-0 mb-5" data-aos="fade-up" data-aos-delay="300">

                    Fondé en 2006 sous l'impulsion d'Alain RICHARD et
                    André VERTODUSIC, deux anciens cheminots de la
                    SNCF Rail Concept est un bureau
                    d'étude indépendant spécialisé dans les activités
                    d'études et de conseil
                    liées à la création et l'aménagement d'infrastructures
                    et de services ferroviaires.

                    <div class="row pt-3 ">
                        <div class="col-lg-6 p-0 pt-4 brain1"     data-aos="fade-left"  data-aos-anchor="paragraphe-news"  data-aos-delay="350">
                            <div class="row" >
                                <img class="img-fluid brain"
                                    src="{{ site.baseurl }}/assets/img/page-nos-metiers/brain.png" width="100%">
                                <span class="valeur_ent justify-content-center align-self-center pl-4">Valeur
                                    d'entreprise 1</span>
                            </div>
                        </div>


                        <div class="col-lg-6 p-0 pt-4 brain2" data-aos="fade-right"  data-aos-anchor=".brain1"  data-aos-delay="450">
                            <div class="row">
                                <img class="img-fluid brain"
                                    src="{{ site.baseurl }}/assets/img/page-nos-metiers/brain.png" width="100%">
                                <span class="valeur_ent justify-content-center align-self-center pl-4">Valeur
                                    d'entreprise 2</span>
                            </div>
                        </div>

                        <div class="col-lg-6 p-0 pt-4 brain3" data-aos="fade-left"  data-aos-anchor=".brain2"  data-aos-delay="550">
                            <div class="row">
                                <img class="img-fluid brain"
                                    src="{{ site.baseurl }}/assets/img/page-nos-metiers/brain.png" width="100%">
                                <span class="valeur_ent justify-content-center align-self-center pl-4">Valeur
                                    d'entreprise 3</span>
                            </div>
                        </div>

                        <div class="col-lg-6 p-0 pt-4 brain4" data-aos="fade-right"  data-aos-anchor=".brain3"  data-aos-delay="650">
                            <div class="row">
                                <img class="img-fluid brain"
                                    src="{{ site.baseurl }}/assets/img/page-nos-metiers/brain.png" width="100%">
                                <span class="valeur_ent justify-content-center align-self-center pl-4">Valeur
                                    d'entreprise 4</span>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

            <div class="col-md-4 mt-5 ml-0 pl-0 mb-5 align-items-center justify-content-center d-none d-md-block"
                data-aos="fade-left" data-aos-anchor="#team_">
                <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/nous.png" width="100%">
            </div>

          
            <div class="col-12 mt-2 mb-3" data-aos="fade-up"  data-aos-anchor=".brain4"  data-aos-delay="650"> 
                <div class="row p-0 ">
                        <div class="col text-lg-left text-center p-0">
                <a class="savoir" href="{{ site.baseurl }}/qui-sommes-nous">En savoir plus</a>
                </div>
                </div>           
                </div>
         
          
        </div>
     
      
    </div>
</section>








<section class="competences mt-5  pb-5 bg-gris">
        <div class="container">
            <div class="row ">
                    <div class=" title-news col-12 title-section mt-5 mb-5 pt-5 pb-5" data-aos="fade-up">NOS MÉTIERS</div>
                    
                <div id="comp1" class="comp col-sm-12 col-lg-4 text-center justify-content-center mt-3" data-aos="fade-up">
                    <a href="{{ site.baseurl }}/en/join_us#chefprojet"><img class="img-fluid" src="{{ site.baseurl }}/assets/img/page-realisations/mission.svg"></a>
                    <h5 class="name title-competence">CHEF DE PROJET</h5>
                    <p class="description contenu-competence">
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                             Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, 
                             

                         
                            
                           
                    </p>
                    <a class="sav" href="{{ site.baseurl }}/en/join_us#chefprojet">En savoir plus</a>
                </div>
                <div id="comp2" class="comp col-sm-12 col-lg-4 text-center justify-content-center mt-3 "  data-aos="fade-up"  data-aos-delay="150"  >
                    <a href="{{ site.baseurl }}/en/join_us#chargetude"><img class="img-fluid" src="{{ site.baseurl }}/assets/img/page-realisations/etude.svg"></a>
                    <h5 class="name title-competence">INGÉNIEUR CHARGÉ D'ÉTUDE</h5>
                    <p class="description contenu-competence">
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, 
                    </p>
                    <a class="sav" href="{{ site.baseurl }}/en/join_us#chargetude">En savoir plus</a>
                </div>
                <div id="comp3" class="comp col-sm-12 col-lg-4 text-center justify-content-center mt-3 " data-aos="fade-up"  data-aos-delay="300"  >
                    <a href="{{ site.baseurl }}/en/join_us#devlogiciel"><img class="img-fluid" src="{{ site.baseurl }}/assets/img/page-realisations/expertise.svg"></a>
                    <h5 class="name title-competence">DÉVELOPPEUR LOGICIEL</h5>
                    <p class="description contenu-competence">
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, 
                    </p>
                    <a class="sav" href="{{ site.baseurl }}/en/join_us#devlogiciel">En savoir plus</a>
                </div>
                
            </div>
         </div>
      </section>


{% include eng-contact.html %}
{% include eng-footer.html %}