/*****************************************
******************************************
************ M3SOFT 2019 *****************
******************************************
*****************************************

  * {
    border: 1px solid #f00 !important;
  }   */

  * {
    font-family: "Barlow Semi Condensed", sans-serif;
  }

html,
body {
    width: 100%;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
 -webkit-appearance: none; 
 }
 .hidden{
     display:none;
 }
.title-section {
    color: #a52c43;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 35px;
    text-shadow: 1px 0 #a52c43;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;

}
.row{
    margin-right:0;
    margin-left:0;
}
.text-xs-center {
    text-align: center !important;
  } 
  .espace{
    margin-top: 35px;
  }

  .col-2dot4,
  .col-sm-2dot4,
  .col-md-2dot4,
  .col-lg-2dot4,
  .col-xl-2dot4 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  .col-2dot4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
  .partager {
    height: 20px;
    margin-right: 5px;
}
.partager_link {
    color: #8c8c8c;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    font-size:13px;
}


.partager_link:hover {
    color:#a52c43;
}

.plus{
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(144, 144, 144);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
  @media (min-width: 576px) {
      .col-sm-2dot4 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
      }
  }
  @media (min-width: 768px) {
      .col-md-2dot4 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
      }
  }
  @media (min-width: 992px) {
      .col-lg-2dot4 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
      }
  }
  @media (min-width: 1200px) {
      .col-xl-2dot4 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
      }
  }
  

/***************************************
**************Navbar********************
***************************************/

#div-navbar {
    height: 100px;
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 999;
    background-color: white;

}

#container-navbar {
    padding-top: 25px;
}

.btn-float.active{
    opacity:1 ;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.offre-tabs-link{
    color: #fff; 
    background-color: #fff; 
    border:none;
    padding:0 ;
}

.offre-tabs-link.active{
    color: #fff; 
    background-color: #fff; 
    border:none;
    padding:0 ;
}
.offre-tabs{
    border:none ;
}

.offre-nav-item{
padding-left: 5px !important ;
padding-right: 5px !important ;

}


#navbar {
    padding: 0 0;
}

.navbar-logo {
    height: 70px;
}

#logo {
    height: 100%;
}

.link-navbar {
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed';
    font-size: 16.5px;
    font-weight: 800;
    color: #9d9e9f !important;
    padding-right: 1.5rem !important;
    padding-left: 0 !important;
}

.link-navbar:hover:before {
    content: "";
    position: absolute;
    width: 45px;
    bottom: 30%;
    border-bottom: 3px solid #942626;


}



#search-link:hover:before {
    content: none;
}

#search {
    float: right;

}

#search:hover>#input-search {
    display: inline-block;
    position: absolute;

    width: 200px;
    padding: 2px 5px !important;
    border-radius: 5px;
    z-index: 1;
}

#input-search {
    display: none;
    position: absolute;
    border-style: solid;
    border-color: #942626;
    -webkit-appearance: none;
    color: #000;

    margin-left: -100px;
    width: 150px;
    display: none;
}

#input-search :focus {
    outline: 0 none;
}

#input-search:hover:before {
    content: none;
}

.flags {

    padding-right: 5px;
    width: 25px;
}

#dropdown-flags {
    padding: 0.5rem 0.5rem !important;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: #9d9e9f;
    width: 100%;
}

#dropdown-flags:hover {
    color: #942626 !important;
    text-decoration: none !important;

}

#select_flag {
    width: auto;
    height: auto;
    padding: 2px 2px;
    margin: 0;
    white-space: nowrap;
    min-width: 0;
    left: -10px;

}

.lang-select::after {
    vertical-align: top;
    margin-left: 0;
    border: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-size: 18px;
    color: #9d9e9f;
}

.lang-select:hover:before {
    content: none;
}




.selected:before {
    content: "";
    position: absolute;
    width: 45px;
    bottom: 30%;
    border-bottom: 3px solid #942626;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #942626 !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
 border: .25em solid rgba(148,38,38,.3) !important;
}
.swal2-icon.swal2-success {
    border-color: #942626 !important;
}
.navshadow {
    -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.58);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.58);
}
.swal2-title {
    font-size: 1.4em !important;
}
.swal2-icon {
  
  margin: 0 !important;
  margin-bottom: 0.5em !important;
}
/*-----------------------------------------------------------------*/
/*------------------------------Main Slider-----------------------*/
/*-----------------------------------------------------------------*/


#section-main-slider {
    width: 100%;
    max-width: 100%;
    height: 100vh;

}

.img-100{
    height: 200px;
    width: 100%;
}


.slider-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#next {
    background-image: url("../img/arrows/next.svg");
    width: 25%;
    height: 25%;

}

#previous {
    background-image: url("../img/arrows/previous.svg");
    width: 25%;
    height: 25%;
}

#carousel-control-next {
    height: 5.5vw;
    width: 5.5vw;
    top: auto;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    z-index: 2;
    fill: #9d9e9f;
}


#carousel-control-prev {
    height: 5.5vw;
    width: 5.5vw;
    top: auto;
    bottom: 0;
    right: 50%;
    left: auto;
    background-color: #9d9e9f;
    z-index: 10;
    fill: #ffffff;
}

#container-caption {
    height: 100%;

}

.slider-caption {
    height: 18.7vw;

    bottom: 0;
    right: 50%;
    left: 0;
    background-color: #942626;
    padding: 0 0;

}

.div-slider {
    margin: 2.3vw 3.3vw;
    margin-bottom: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2.2vw;
    font-weight: 900;
    text-align: left;

    top: 0;
}

.div-slider-numbers {
    
    height: 5.5vw;
    bottom: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.8vw;
  
    text-align: center;
    color: #d16b6b;
   
    margin-right: 6.5vw;
    right: 0;
    left: auto;
    position: absolute;
}

.div-slider-numbers-details {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    order: 1;
    float: right;

}

.div-slider-numbers-active {
    color: #ffffff;
}


#map5x{
    height: 350px;
}
#map6x{
    height: 350px;
}
.gm-style .gm-style-iw-t::after {
    content: none ;
}
/*-----------------------------------------------------------------*/
/*------------------------------COMPETENCES-----------------------*/
/*-----------------------------------------------------------------*/

.title-competence {
   
    font-family: "Barlow Semi Condensed", sans-serif;
    color: #942626;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 24px;
}

.contenu-competence {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(140, 140, 140);
    line-height: 1.818;
    text-align: center;
    margin-bottom: 60px;

}

.sav {
    font-size: 17px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(201, 201, 201);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.704;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none !important;
    left: 25%;
    right: 25%;


    bottom: 0;
    position: absolute;
    white-space: nowrap;
}

.sav:hover {
    font-family: 'Barlow Semi Condensed', sans-serif;
    border: 1px solid #942626;
    background-color: rgb(148, 38, 38);
    color: white !important;
}



/*-----------------------------------------------------------------*/
/*------------------------------NEWS-------------------------------*/
/*-----------------------------------------------------------------*/


.slider-news-inner {

    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider-news-caption {
    background-color: #f0f0f0;
}

.slider-news-img {
    padding: 0;
    width: 100% !important;
    height:600px;
}

.slider-news-img>img {
    height:100%;
    width:100%;
 
}

.title-news {
    margin-bottom: 1%;
    margin-top: 40px;
    left: 0;
}

.date-news {
    font-size: 15px;
    font-weight: bold;
    left: 0;
    margin-bottom: 1%;
    margin-top: 50px;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(144, 144, 144);
    text-transform: uppercase;
}

.title-para-news {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(148, 38, 38);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    left: 0;
    margin-bottom: 1%;
    margin-top: 20px;

}

.paragraphe-news {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 17px;
    margin-top: 0%;
    line-height: 1.8;
    text-align: justify;
    color: #8c8c8c;
    text-transform: none;
    left: 0;
    margin-bottom: 3%;
    margin-top: 10px;
}

.read-more-btn {
    left: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
    color: #a52c43 !important;
    text-transform: uppercase;
    font-weight: 900;
}

.read-all-news {

    position: absolute;
    bottom: 5px;
    right: 5px;
	z-index: 111;
}

.voirplus {
    color: #942626 !important;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;

}

.read-more-arrow {
    width: 50px;
    height: 50px;
    margin-left: 10px;
	z-index:2;
}

#nav-slider-news {
    left:auto;
	width: 50%;
	margin-right:0;
    margin-left: 0; 
	    padding-right: 40%;
}

#nav-slider-news li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #ffffff;
}

#nav-slider-news .active {
    background-color: #942626 !important;
}

/***************************************
**************REALISATION CSS ***********
***************************************/


.title-realisation{
	font-size:14px;
	font-weight:900;
    line-height:18px;
    text-align:left;
	
}

.colored{
	color:#a52c43;
}

.sous-title{
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size:14px;
	font-weight:900;
	color:#bcbcbc;
	bottom:0;
	position:absolute;
	margin-left:0;
	text-transform: uppercase;
	
}

.read-all-realisation{
	position:relative;
	margin-top:20px;
	
}

.mr{margin-right: 9%;}  


.g_map{

    height:100%;
}
.gm-style .gm-style-iw-c {

    border-radius: 0;
    padding:0;
    
 /*   width:180px ; */
    transform: translate(-50%,-115%);

}


.img_infowindow{
    height:40%;
    width:100%;
}
.ico_infowindow{
    height: auto;
    width: 100%;
    position: relative;
}
.detail_infowindo{
height:60%;
}


.gm-style-iw-d{
    overflow: auto !important;
}

.detail_infowindo{
    text-align: left ;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    padding:0;

}
 
.title_infowindow{
    text-transform: uppercase ;
    padding-top:15px;
    color:#a52c43;
    font-size: 16px;
    }
.projet_infowindow{
    padding-top:10px;
text-transform: uppercase ;
color: #bcbcbc;
}
.adresse_infowindow{

text-transform: uppercase ;
color:#a52c43;
}
.sav_plus_infowindow{
    text-transform: uppercase ;
    margin-top:25px;
    color:#a52c43;
}
.btn-color-infowindow {
    border: 1px solid #942625;
    padding: 7px 14px; 
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #942625;
}
/***************************************
**************CLIENTS ***********
***************************************/
.section-slider-clients{

    background-color: #f0f0f0 ;
    padding: 50px 0;
}
.clients-inner{
    padding-right: 25px;
    padding-left: 25px;
}
.carousel-control-clients{
    background-color: #F0F0F0;
    opacity: 1;
}
.carousel-control-clients:hover{
    opacity: 1;
}
.slider-clients{
    padding-right:30px;
    padding-left:30px;
}
.carousel-control-clients{
    width: auto;
}
.position-slid{
    height: 70%;
}

.clients-inner .carousel-item.active,
.clients-inner .carousel-item-next,
.clients-inner .carousel-item-prev {
    display: flex;
}



.clients-inner .carousel-item-right.active,
.clients-inner .carousel-item-next {
  transform: translateX(33.333%);
}

.clients-inner .carousel-item-left.active, 
.clients-inner .carousel-item-prev {
  transform: translateX(-33.333%);
}

.clients-inner .carousel-item-right,
.clients-inner .carousel-item-left{ 
  transform: translateX(0);
}


.img-client{
    max-width: 80%;
}

/**************************************
*****************CONTACT***************
**************************************/
.div-contact{
    font-size:30px;
    font-family:"Barlow Semi Condensed" ,sans-serif;
    color:rgb(255, 255, 255);
    font-weight:900;
    text-transform:uppercase;

    padding-left: 0; 
}
.row-contacter-nous{padding-top:105px;
    padding-bottom:105px;
 
    
}
.contacter-nous{
    background-color:#942626;
    width:100%;
}
.parent-contactez{
padding:0;
}
.contactez{
    font-size: 35px;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    color: #942626;
    border-radius: 0;
    background-color: white;
    font-weight: 900;
    border: white;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transform: matrix( 0.65327673530743,0,0,0.65565876916097,0,0);
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,.075);
    position: absolute;
    width: 110%;
    height: 110%;
}
.contactez:hover{
cursor: pointer;
box-shadow: inset 0 0 20px rgba(162, 162, 162, .5), 0 0 20px rgba(162,162, 162, .2);
outline-color: rgba(162, 162, 162, 0);
outline-offset: 15px;
text-shadow: 1px 1px 2px #000000; 

}


.contactx{
    margin-top:100px;
    background-image:  url("../img/page-nos-metiers/contact.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              
    height:350px;
    vertical-align: middle;
    }


    .titl1-gray {
        list-style: none;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 18px;
        font-weight: 500;
     
        color: #9d9e9f !important;
        font-weight:600;
    }

    .title-section-1 {
        font-size: 28px;
   
        color: rgb(148, 38, 38);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 50px;
        margin-top: 26px;
    
    }

    .btn-voir-poste{
        -webkit-border-radius: 0;
-moz-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border: 0;
        font-weight:600;
padding: 10px 15px;
    }
    .contact-img{
        top:auto;
        bottom:0;
        position:absolute ;
    }
 div.read-all-realisation> a > img{
     width:36px;
     height:100%;
 }
 .title-act-contact{
    height: 120px;
 }
 .read-all-realisation{
bottom:0;
 }
 .sous-title-red {
    font-size: 19px;
    
    color: rgb(148, 38, 38);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 22px;
}
.titl2-gray {
    font-size: 18px;
    text-transform: uppercase;
    color: #9d9e9f;
    margin-bottom: 43px;
    margin-top: 18px;
}
/***************************************
**************FOOTER ***********
***************************************/


footer{
    padding-top: 80px;
    
    width: 100%;
}
.logo-footer{
width:120px;
}
#phone{
    color: #8c8c8c;
}
.adresse{
    margin-top:40px ;
    font-size: 15px;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    color: #8c8c8c;
    font-weight: bold;
    text-transform: uppercase;
}
.tel{
    margin-top:20px ;
    font-size: 15px;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    color: #8c8c8c;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-title {
    font-size: 17px;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    color: rgb(148, 38, 38);
    font-weight: bold;
    text-transform: uppercase;
}
.footer-title > a{
    font-size: 17px;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    color: rgb(148, 38, 38);
    font-weight: bold;
    text-transform: uppercase;
}
.footer-title > a:hover{
    text-decoration: none; 
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.footer-body{
    font-size: 14px;
    color: #8e8f8e;
    text-transform: uppercase;
    font-family: "Barlow Semi Condensed" ,sans-serif;
}
.footer-body:hover{
    color: #942626;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }

  .enveloppe {
    background-color: #942626;
    color: white;
    border: #942626;
}
.newsletter{
    background-color: #dddddd;
}
.contactez-red {
    font-family: "Barlow Semi Condensed" ,sans-serif;
    font-size: 20px;
    color: white;
    width: 250px;
    height: 50px;
    background-color: #942626;
    font-weight: bold;
    border: #942626;
    text-transform: uppercase;
    box-shadow: 3px 3px 37px 3px rgba(0,0,0,.075);
  
    border-radius: 0;
}

/***************************************
**************COPYRIGHT***********
***************************************/

.copyright{
    background-color: #b8b8b8;
    height: 120%;
    font-size: 15px;
  
    font-family: "Open Sans";
    color: rgb(83, 83, 83);
    padding-bottom: 20px;
    padding-top:7px;
    }
    .color{
    color:#535353!important;
    }
    a:-webkit-any-link{
    text-decoration:none;}
    .Copyrightcol {
      font-size: 11px;
      font-family: "Open Sans";
      color: rgb(83, 83, 83);
     
  
      z-index: 12;
    }
    .Copyrightcol > a {
    white-space: nowrap;
    font-family: "Open Sans";
    }

/***************************************
**************PAGE COMPETENCES *********
***************************************/


/****************** competence ************/
.competence{
    margin-top:100px;
    background-image:  url("../img/slider/slider.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;              
    height:350px;
    vertical-align: middle;
    }
.header-realisation{
    
    font-family: "Barlow Semi Condensed" ,sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;

    
}





.realisations-recherche ul li
{
    font-family: "Barlow Semi Condensed" ,sans-serif;
    list-style: none;
    font-weight: bold;
    color: #989898;
    font-size: 18px;
}
.realisations-recherche .nav-tabs .nav-link
 {
    border-radius: 0;
    border:none;
    text-align: left;
    font-size: 18px;
    color: gray;
    height: 76px;
}


.image-active{
    background-color:  #f76262 !important;
}
 .realisations-recherche  .tab-content>.active
{
    background:#fff;
    display:block;
}
 .realisations-recherche  .nav.nav-tabs
 {
    display: block;
    float: left;
    margin-top: 15%;
    width:100%;
    padding-right:25px;
    border: none;
}
 .realisations-recherche  .sv-tab-panel
 {
    background:#fff;
    height:650px;
  
}
.bg-circle {
    margin-right: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px 0px;
    background-color: #989898;
    text-align: center;
    border-radius: 50%;
}
.rech-check{
    top:33%;
    margin-right: 0;
    margin-left: 0;
}

.sv-tab-panel > iframe {
    height: 100%;
    width: 100%;
}

.small-paragraphe
{
    font-size: 18px;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    color: rgb(140, 140, 140);
    line-height: 1.5;
    margin-bottom: 45px;
}


.filter-button
{
    color: #989898;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    font-size: 16px;
    background-color:transparent;
    border: none;
    font-weight: 600;
    padding-left:25px;
    padding-right:25px;
    border-radius: 0;

}
.filter-button:hover
{
    background-color:#942626;
    color: white ;

}
.filter-button:active
{
    background-color:#942626;
    color: white ;
}
.btn-active
{
    background-color:#942626;
    color: white ;
}
*:focus
{
outline: none !important;
box-shadow: none;
}
.btn:focus
{
outline: none !important;
box-shadow: none;
}
.paging-real-link:focus
{
outline: none !important;
box-shadow: none;
}
.paging-real-linkx:focus
{
outline: none !important;
box-shadow: none;
}
.port-image
{
    width: 100%;
}

.gallery-real
{
    margin-bottom: 30px;
}


.dot-pagin { 
color:#e0e0e0 ;
}
.arrow-pagin{
    color:#942626;
}


.dot-pagin:hover { 
    color:#942626;
}

.paging-real-link{

    color: gray;
    background-color: transparent;
    border: none;
}
.paging-real-link:hover{

    color: gray;
    background-color: transparent;
    border: none;
}
.page-item-li{
    text-decoration: none;
    border:none;
}
.paging-real-linkx{

    color: #942626;
    background-color: transparent;
    border: none;
}
.paging-real-linkx:hover{

    color: white;
    background-color:#942626;
    border: none;
}
.paging-real-linkx:hover > .arrow-pagin{

    color: white !important;
   
}

li.active > a > i{
    color:#942626;
}

.link-rech-real:hover > div > div > div{
    background-color: #f76262 !important;
}



/***************************************
**************PAGE ETUDES *********
***************************************/
.nav-etude{
    width:100%;
}


.container-nav-etude{
    background-color:#eaeaea;
    height:70px;
    display: flex;
    align-items: center;
}

.pills-etude-link{
    color: #9d9e9f ;
    background-color: #eaeaea;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
}
.pills-etude-link.active{
    background-color:#eaeaea !important;
    color: #942626 !important;
}

.pills-etude-link:hover{color:#942626;}


.paragraphe-etudes {
    font-size: 16px;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: #9e9e9e;
   
    text-align: left;
    
   
}
.loope-etude{
    margin-left: -7%;
}

.container-fluid-etude{
    margin-top:-10%;
    width:100%;
}

.card-etude {
    background-color: #942626;
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
}

.title-card-etude {
    font-size: 30px;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: left;
   
}

.liste-card-etude {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 1.93;
   margin-bottom:0;
   display:inline-block;
   padding-inline-start: 18px;
}

.etude-container-right{
    margin-left:-50px;
}
.loope-etude{
    z-index:10 ;
}


.etude-container-left{
    right: -50px;
    z-index: 10;
}


/**************************************
************ NOS METIERS **************
**************************************/


.metiers{
    margin-top:100px;
    background-image: url("../img/page-nos-metiers/slid-realisation.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              
    height:350px;
    vertical-align: middle;
    }


    .bg-metiers {
        background-color: #f4f4f4;
    }



    .team-person{
      position:relative;
      display:inline-block;
      padding: 5px 5px ;
    }
    .team-text{
        padding: 5px 5px ;
        background-clip: content-box;
    }
    
    .team-person .team-text{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(6,6,0,0.75);
      opacity:0;
      transition:opacity 500ms ease-in-out;
    }
    .team-person:hover .team-text{
      opacity:1;
    }
    .team-text span{
      font-size: 12px;
      font-family: "Barlow Semi Condensed", sans-serif;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      color:#fff;
      cursor:pointer;
      width:100%;

    }

    .savoir-plus{
        font-size: 20px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: #a52c43;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 10px;
        position: relative;

    }

    .savoir-plus:hover{
        outline-color: #f8f9fa;
        background-color: #942626;
        border: 1px solid;
        color: white;
        padding: 12px 56px;
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #000000;
    }


/**************************************
**************Actualites***************
**************************************/

.card-border-none{
    border:none;
}
.paragraphe-actualites {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #8c8c8c;
    
}
.date-news {
    font-size: 15px;
    font-weight: bold;
    left: 0;
    margin-bottom: 1%;
    margin-top: 50px;

    color: rgb(144, 144, 144);
    text-transform: uppercase;
}

.date-news {
    font-size: 15px;
    font-weight: bold;
    left: 0;
    margin-bottom: 1%;
    margin-top: 50px;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(144, 144, 144);
    text-transform: uppercase;
}

.card-link{
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: bold;
}
.card-link:hover {
    text-decoration: none;
    color: #942626;
}
.act-tag{
    position: relative;
    display: block;
}
.tags-row{
position: absolute;
width:100px;
padding-left:10px;
}
.tag{
    text-align:center;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    font-size: 14px;
    border: none;
    font-weight: 600;
     border-radius: 0;
     background-color: #942626;
     color: white;
     padding-top:5px ;
     padding-bottom: 5px;
     text-transform: uppercase;
     margin-top:10px;
     width:100%;
     display: block;
     position:relative;
}


.tagx{
    text-align:center;
    font-family: "Barlow Semi Condensed" ,sans-serif;
    font-size: 14px;
    border: none;
    font-weight: 600;
     border-radius: 0;
     background-color: #942626;
     color: white;
     padding : 5px 10px ;
     letter-spacing: 2px;
     text-transform: uppercase;
     margin-left:10px;
     display: inline;
     position:relative;
}

/***************************************
**************Actualité 2 *************
**************************************/
.actualite-2{
background-image:  url("../img/page-actualites/actualites-2.png");

}



/***************************************
**************REJOIGNEZ-NOUS *************
**************************************/
.rejoignez-nous{
    background-image:  url("../img/page-rejoignez-nous/rejoignez-nous.png");
    }


    .poste {
        margin-top: 100px;
    }
    .color-gray {
        color: #8c8c8c;
        }
        .btn-color {
            border: 1px solid #942625;
            padding: 16px 22px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #942625;
        }

        .btn-color:hover {
            border: 1px solid #942625;
            padding: 16px 22px;
            color: white;
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #942625;
            text-shadow: 1px 1px 2px #000000;
        }

        .rejoignez {
            background-color: #eaeaea;
            padding-top: 80px;
            padding-bottom: 100px;
        }
        .title-actualites {
            font-family: "Barlow Semi Condensed", sans-serif;
            color: rgb(148, 38, 38);
            text-transform: uppercase;
            font-size: 26px;
            font-weight: bold;
            left: 0;
            margin-bottom: 3%;
            margin-top: 3%;
        }

        .title-card-1 {
            font-size: 29px;
            font-weight: bold;
            color: white;
            margin-top:20px;
           margin-left:10px;
            text-align: left;
            text-transform: uppercase;
            position: absolute;
        }
        .position-icon-plus{
            position: absolute;
            bottom: 0;
            left: 50%;
        }
        

        .chef-projet{
            background-color: #eaeaea;

        }
        .btn-float {
            border: 1px solid #942625;
            color: white;
            font-size: 15px;
            font-weight: bold;
            /* margin-right: 104px; */
            text-transform: uppercase;
            background-color: #942625;
            padding: 17px 20% 17px 13px;
            float: right;
            opacity: 0.5;
        }
        .btn-float:hover {
            text-shadow: 1px 1px 2px #000000;
            color: white;
            opacity: 1;
        }

        .title-poste {
            color: #a52c43;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-size: 26px;
            text-shadow: 1px 0 #a52c43;
            letter-spacing: 1px;
            font-weight: bold;
            margin: 22px 0;
            text-transform: uppercase;
        }
        .white-bg{
            background-color:white;
        }
        .parcourir{
            white-space: nowrap;
            font-size: 13px;
        }
        .bg-select {
            margin-top: 10px;
            background-color: #942625 !important; 
            color: white !important;
            background-clip: initial !important;
            border-radius: 0;
            border-color: rgb(148, 38, 38);
            opacity: 0.65;
            cursor: pointer;
            width:100%;
        }
        .bg-select::placeholder { 
            color: white !important;
            opacity: 1 !important; 
          }
        .bg-select:hover{
            opacity: 1;
            cursor: pointer;
        }
        .handy{
            cursor: pointer;
        }
        .custom-file-label::after {
           
           
            font-family: "Font Awesome 5 Free";
            content: "\f107";
            font-size: 18px;
            color: #ffffff;
            background-color: #942625 !important; 
            border:0;
            font-weight: 900;
            height: initial;
        }

        .bg-select-2 {
            background-color: rgb(148, 38, 38);
            color: white;
            margin-top: 50px;
            padding: 10px 26px;
            border-radius: 0;
            border-color: rgb(148, 38, 38);
        }

      .inputfile {
        
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }


    #div-404{
        clear:both;
        margin-top: 100px;
    }


     
/***************************************
**************RESPONSIVE CSS ***********
***************************************/


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {


    /*** Navbar ****/
    #div-navbar {
        background-color: yellow;
        width: 100%;
        height: 95px;
    }

    #navbar {
        height: 70px;
    }

    .navbar-logo {
        height: 68px;
    }

    .link-navbar {

        font-size: 15px;
    }



  /************* Competences****************/
.sav{
    left: 20%;
    right: 20%;
    
        bottom: 0;
         width: auto;
    }

/***************************************
**************PAGE COMPETENCES *********
***************************************/


/****************** competence ************/
.competence{
    margin-top:90px;

 
}

.contactx{
    margin-top:90px;
}
.realisations-recherche .nav-tabs .nav-link {
    font-size: 16px;
    
}


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {




    /*** Navbar ****/

    #div-navbar {
        height: 80px;
        background-color: green;
    }

    .img-100 {
        height: 150px !important;
    }

    #navbar {
        height: 55px;
    }

    .navbar-logo {
        height: 45px;
        margin-right: 0 !important ;
    }

    #search-link{
        padding-right : 0 !important ;
    }
    .contact-img{
        top:auto;
        bottom:auto;
        position:relative ;
    }

    .link-navbar {
        padding-right: 0.5rem !important;
        font-size: 14px;
    }

    .lang-select::after {
        font-size: 15px;

    }

    #search {

        padding-left: 0;
        padding-right: 0;
    }


.title-section {
    font-size: 30px;
    text-shadow: 1px 0 #a52c43;
}



/************* Competences****************/
.sav{
left: 15%;
     right: auto;
    bottom: 0;
     width: auto;
}

/************* NEWS ************/

.date-news {
    font-size: 13px;
    margin-bottom: 1%;
    margin-top: 30px;

}

.title-para-news {
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 15px;

}

.paragraphe-news {
    font-size: 15px;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-top: 8px;
}

.read-more-btn {
    font-size: 14px;
}


.voirplus {
    font-size: 14px;
}

.read-more-arrow {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#nav-slider-news{
	bottom: 3px;
}
.slider-news-img>img {
 
    height: 450px;
}


/******* CLIENTS ************/

.clients-inner .carousel-item-right.active,
.clients-inner .carousel-item-next {
  transform: translateX(33.333%);
}

.clients-inner .carousel-item-left.active, 
.clients-inner .carousel-item-prev {
  transform: translateX(-33.333%);
}

.clients-inner .carousel-item-right,
.clients-inner .carousel-item-left{ 
  transform: translateX(0);
}

/************** CONTACT***********************/
.div-contact{
    font-size:25px;
}
.contactez{
    font-size:30px;
}


/***************************************
**************PAGE COMPETENCES *********
***************************************/


/****************** competence ************/

.competence{
    margin-top:70px;
    height:300px;
    }
    .contactx{
        margin-top:70px;
        height:300px;
    }   
   .header-realisation{
        font-size: 45px;
        top: 25%;
        }
    .realisations-recherche .sv-tab-panel {
        height: 500px;
    }
    .bg-circle {
        margin-right: 5px;
    }
    .realisations-recherche .nav-tabs .nav-link {
    font-size: 14px;
    height: auto ;
}
.filter-button {
 
    padding-left: 15px;
    padding-right: 15px;
}

/***************************************
**************PAGE ETUDES *********
***************************************/


.pills-etude-link{

    font-size: 16px;
 
}

.container-fluid-etude {
    margin-top: 0;
    width: 100%;
}

/************ Actualites ***********/

.tags-row{
    
    width:80px;
    padding-left:10px;
    }
    .tag{
        font-size: 12px;

         padding-top:3px ;
         padding-bottom: 3px;
         text-transform: uppercase;
         margin-top:8px;

    }

    .title-card-1 {
        font-size: 18px;
       
    }

}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {


    .contactez-red {
        margin-left: 0;
 }

    /***** navbar ***/

    #div-navbar {
        height: 87px;
        background-color: pink;
    }
    .title-card-1 {
        font-size: 16px;
    }
    .img-100 {
        height: 100% !important;
    }
    .navbar-logo {
        height: 60px;
    }
    .filtre-div {
        position: relative;
    }

    #navbar-menu {
        background-color: #f3f3f3f0;
    }

    .link-navbar {

        padding-left: 15px !important;
    }

    .link-navbar:hover:before {
        content: none;
    }

    .link-navbar:hover {
        color: #942626 !important;
    }
    .contact-img{
        top:auto;
        bottom:auto;
        position:relative ;
    }
    .selected:before {
        content: none;
    }

    .link-navbar {
        padding-top: 15px;
        border-bottom: 2px solid white;
    }

    #lang {
        text-align: center;
    }


    #select_flag {
        width: 100px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #input-search {
        margin-top: -40px !important;
        margin-left: 40px;
        width: 300px;
    }



.title-section {
    font-size: 30px;
    text-shadow: 1px 0 #a52c43;
}


/************* NEWS ************/
.slider-news-img{
	display:none
}
.date-news {
    font-size: 13px;
    margin-bottom: 1%;
    margin-top: 30px;

}

.title-para-news {
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 15px;

}

.paragraphe-news {
    font-size: 17px;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-top: 8px;
}

.read-more-btn {
    font-size: 14px;
}


.voirplus {
    font-size: 14px;
}

.read-more-arrow {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#nav-slider-news{
	bottom: 3px;
}
.read-all-news {
    position: relative;
    margin-top: 50px;
    margin-bottom: 15px;
}

/******* CLIENTS ************/

.clients-inner .carousel-item-right.active,
.clients-inner .carousel-item-next {
  transform: translateX(50%);
}

.clients-inner .carousel-item-left.active, 
.clients-inner .carousel-item-prev {
  transform: translateX(-50%);
}

.clients-inner .carousel-item-right,
.clients-inner .carousel-item-left{ 
  transform: translateX(0);
}



/************** CONTACT***********************/

.row-contacter-nous {
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-contact{
    font-size:22px;
    text-align: left!important;
}
.contactez{
    font-size:25px;
    height: auto;
    width: auto;
    position: relative;
    padding: 3% 5%;
}
/***************************************
**************PAGE COMPETENCES *********
***************************************/


/****************** competence ************/

.competence{
    margin-top:80px;
    height:200px;
    }
    .contactx{
        margin-top:80px;
        height:200px;
    }  
    
    .header-realisation{
    font-size: 32px;
    top: 20%;
    }

    .filter-button {
        font-size:15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .filtre-div{
        text-align:center ;
    }

/***************************************
**************PAGE ETUDES *********
***************************************/


.pills-etude-link{

    font-size: 14px;
    padding-left: .25rem;
    padding-right: .25rem;
}

/************ Actualites ***********/

.tags-row{
    
    width:80px;
    padding-left:10px;
    }
    .tag{
        font-size: 12px;

         padding-top:3px ;
         padding-bottom: 3px;
         text-transform: uppercase;
         margin-top:8px;

    }




    #section-main-slider {
       
        height: 50vh;
    }
    .slider-item {
        height: 50vh;
    }
    .slider-caption {
     height: auto;
    }
   
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {


    .filtre-div {
        position: relative;
    }
    /***** navbar ***/

    #div-navbar {
        height: 77px;
        background-color: purple;
    }

    .img-100 {
        height: 100% !important;
    }
    .navbar-logo {
        height: 50px;
    }
    .contactez-red {
           margin-left: 0;
    }
    .title-card-1 {
        font-size: 16px;
    }
    #navbar-menu {
        background-color: #f3f3f3f0;
    }

    .link-navbar {

        padding-left: 15px !important;
    }

    .link-navbar:hover:before {
        content: none;
    }

    .link-navbar:hover {
        color: #942626 !important;
    }

    .selected:before {
        content: none;
    }
    .contact-img{
        top:auto;
        bottom:auto;
        position:relative ;
    }
    .link-navbar {
        padding-top: 15px;
        border-bottom: 2px solid white;
    }

    #lang {
        text-align: center;
    }

    #select_flag {
        width: 100px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #input-search {
        margin-top: -40px !important;
        margin-left: 40px;
        width: 300px;
    }


.title-section {
    font-size: 28px;
    text-shadow: 1px 0 #a52c43;
}


/************* NEWS ************/
.slider-news-img{
	display:none
}
.date-news {
    font-size: 13px;
    margin-bottom: 1%;
    margin-top: 30px;

}

.title-para-news {
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 15px;

}

.paragraphe-news {
    font-size: 17px;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-top: 8px;
}

.read-more-btn {
    font-size: 14px;
}


.voirplus {
    font-size: 14px;
}

.read-more-arrow {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#nav-slider-news{
	bottom: 3px;
}
.read-all-news {
    position: relative;
    margin-top: 50px;
    margin-bottom: 15px;
}


/******* CLIENTS ************/

.clients-inner .carousel-item-right.active,
.clients-inner .carousel-item-next {
  transform: translateX(50%);
}

.clients-inner .carousel-item-left.active, 
.clients-inner .carousel-item-prev {
  transform: translateX(-50%);
}

.clients-inner .carousel-item-right,
.clients-inner .carousel-item-left{ 
  transform: translateX(0);
}


/************** CONTACT***********************/

.row-contacter-nous {
    padding-top: 50px;
    padding-bottom: 50px;
}
.div-contact{
    font-size:22px;
    text-align: left!important;
}
.contactez{
    font-size:25px;
    height: auto;
    width: auto;
    position: relative;
    padding: 3% 5%;
}

/***************************************
**************PAGE COMPETENCES *********
***************************************/


/****************** competence ************/
.competence{
margin-top:70px;
height:200px;
}
.contactx{
    margin-top:70px;
    height:200px;
}  
.header-realisation{
font-size: 32px;
top: 18%;
}
.filter-button {
    font-size:15px;
    padding-left: 5px;
    padding-right: 5px;
}
.filtre-div{
    text-align:center ;
}



/***************************************
**************PAGE ETUDES *********
***************************************/


.pills-etude-link{

    font-size: 13px;
    padding-left: .5rem;
    padding-right: .5rem;
}


/************ Actualites ***********/

.tags-row{
    
    width:80px;
    padding-left:10px;
    }
    .tag{
        font-size: 12px;

         padding-top:3px ;
         padding-bottom: 3px;
         text-transform: uppercase;
         margin-top:8px;

    }


    #section-main-slider {
       
        height: 50vh;
    }
    .slider-item {
        height: 50vh;
    }
    .slider-caption {
     height: auto;
    }
    .div-slider {
        font-size: 3.2vw;
        
    }
    .div-slider-numbers {
   
        font-size: 2.8vw;
    }
 
}

















/************************************************/