.nav-link {
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed';
    font-size: 16px;
    font-weight: 800;
    color: #9d9e9f !important;
    padding-right: 1.8rem !important;
    padding-left: 0 !important;
    position: relative;
}

.navbar-brand>img {
    max-height: 55px;
}
.navbar-nav .nav-link {
    white-space: nowrap;
}

.navbar-nav .nav-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    bottom: 0px;
    height: 3px;
    background-color: var(--primary-color);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.navbar-nav .nav-link:hover:before {
    width: 45px;
}


.navbar-nav .nav-link.active:before {
    width: 45px;
}


.navbar #search-link>img {
    max-height: 20px;
    /*
    width: 20px !important;
    height: auto;
    */
}

#input-search {
    /*
    border: 0;
    -webkit-appearance: none;
    color: #000;
    width: 300px;
    padding: 22px 14px !important;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.38) !important;
    margin-top: 10px;
    color: #aaa;
    font-size: 17px;
    */
}

/*
#input-search :focus {
    outline: 0 none;
}

#input-search:hover:before {
    content: none;
}

#input-search {
    margin-top: -40px !important;
    margin-left: 175px;
    width: 300px;
}
*/