.nav {
    --bs-nav-link-hover-color: var(--tab-font-color);
    --bs-nav-link-color: var(--tab-font-color);
}

.navbar-nav .nav-link {
    --bs-nav-link-color: var(--tab-font-color);
}

.navbar-nav {
    --bs-navbar-active-color: var(--tab-font-color);
}

.nav-link:focus, .nav-link:hover {
    --bs-nav-link-hover-color: var(--tab-font-color);
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed';
    font-weight: 800;
    position: relative;
}

.navbar-brand>img {
    max-height: 55px;
}
.navbar-nav .nav-link {
    white-space: nowrap;
}

.navbar-nav .nav-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    bottom: 0px;
    height: 3px;
    background-color: var(--primary-color);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.navbar-nav .nav-link:hover:before {
    width: 45px;
}


.navbar-nav .nav-link.active:before {
    width: 45px;
}


.navbar #search-link>img {
    max-height: 20px;
}

