---
title: Nos métiers
layout: eng-default
permalink: en/nos-metiers
---




    <!--realisations-->
    <div class="competence metiers text-center">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <h1 class="header-realisation">
                    NOS MÉTIERS
                </h1> 
            </div>
          </div>
          </div>
    
       
          
    
        <!--a-proposdenous-->
        <section class="propos-de-nous pt-5 mb-5">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-8">
                        <div class=" title-news  title-section">à propos de nous</div>
                        <div class="paragraphe-news mt-5 ml-0 mb-5">
                            Fondé en 2006 sous l'impulsion d'Alain RICHARD et André VERTODUSIC, deux anciens cheminots de la
                            SNCF Rail Concept est un bureau
                            d'étude indépendant spécialisé dans les activités d'études et de conseil
                            liées à la création et l'aménagement d'infrastructures et de services ferroviaires.
                            <div class="row mt-5 ml-0 pl-0">
                                <div class="col-md-6 ml-0 pl-0">
                                    <img src="assets/img/nos-metiers/icons.png">
                                    <span class="paragraphe-news">Valeur d'entreprise 1</span><br>
                                    <img src="assets/img/nos-metiers/icons.png">
                                    <span class="paragraphe-news">Valeur d'entreprise 2</span>
    
                                </div>
                                <div class="col-md-6 ml-0 pl-0">
                                    <img src="assets/img/nos-metiers/icons.png">
                                    <span class="paragraphe-news">Valeur d'entreprise 3</span><br>
                                    <img src="assets/img/nos-metiers/icons.png">
                                    <span class="paragraphe-news">Valeur d'entreprise 4</span>
    
                                </div>
                                <a class="savoir-plus read-more-btn mt-5" href="#">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5 ml-0 pl-0 mb-5 d-flex align-items-center justify-content-center">
                        <img src="assets/img/nos-metiers/nous.png" width="100%">
                    </div>
    
                </div>
            </div>
        </section>
    
    
    
            <!--nos-metiers -->
    
            <section class="nos-metiers mt-5 pt-5 pb-5 bg-metiers">
                <div class="container mt-5">
                    <div class="col-md-12">
                        <div class="row">
                            <div class=" title-news  title-section mt-5">Nos metiers</div>
        
                            <div class="row mt-5 pt-5">
                                <div class="col-sm-12 col-md-4 text-center justify-content-center mt-3 mb-3">
                                    <a href="#"><img class="img-fluid" src="assets/img/competances/icon1.png"></a>
                                    <h5 class="name title-competence">CHEF DE PROJET</h5>
                                    <p class="description contenu-competence pl-2 pr-2">
                                        Lorem ipsum dolor sit amet consecteur adiscing elit. Duis varius
                                        vulpuate condimentum .Mauris volutpat dolor
                                        erat ,in ultricies ligula feugiat at.
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-4 text-center mt-3 mb-3">
                                    <a href="#"><img class="img-fluid" src="assets/img/competances/icon2.png"></a>
                                    <h5 class="name title-competence">INGéNIEUR CHARGé d'étude </h5>
                                    <p class="description contenu-competence pl-2 pr-2">
                                        Lorem ipsum dolor sit amet consecteur adiscing elit. Duis varius
                                        vulpuate condimentum .Mauris volutpat dolor
                                        erat ,in ultricies ligula feugiat at.
        
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-4 text-center mt-3 mb-3">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/competances/icon3.png">
                                    </a>
                                    <h5 class="name title-competence">DéVELOPPEUR LOGICIEL</h5>
                                    <p class="description contenu-competence pl-2 pr-2">
                                        Lorem ipsum dolor sit amet consecteur adiscing elit. Duis varius
                                        vulpuate condimentum .Mauris volutpat dolor
                                        erat ,in ultricies ligula feugiat at.
        
                                    </p>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
                </div>
            </section>
            
{% include eng-contact.html %}
{% include eng-footer.html %}