---
title: Website Map
layout: eng-default
permalink: /en/website_map
---


<div class="competence text-center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class=" header-realisation" data-aos="fade-up">
                Plan du site
            </h1>
        </div>
        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item "><a href="{{ site.baseurl }}/en/" class="item-1">Home</a></li>
            <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/website_map" class="item-1">website Map</a>
            </li>
        </ol>
    </div>
</div>






<section class="actualités">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 ps-0 pe-0" data-aos="fade-up" data-aos-delay="500">
                <div class=" title-news  title-section mt-0">Website Map</div>
                <div class="paragraphe-news mt-45">



                    <ul class=" ms-auto mt-5">

                        <li class="   pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/home">Home</a></li>

                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/about_us">About us</a>
                        </li>

                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/skills">skills</a></li>
                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/sn/achievements">Our
                                achievements</a></li>
                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/our_business">Our
                                business</a></li>
                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/join_us">Join us</a>
                        </li>
                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/news">News</a></li>
                        <li class="  pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/en/contact">contact</a>
                        </li>

                        <li class="   pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}">French Version</a></li>
                    </ul>





                </div>
            </div>
        </div>
    </div>
</section>























{% include eng-contact.html %}
{% include eng-footer.html %}