---
title: Actualités
layout: default
permalink: actualites
---


    <!--realisations-->
    <div class="competence text-center">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <h1 class=" header-realisation">
                    Actualités
                </h1>
            </div>
        </div>
    </div>



    <!--actualités-->
    <section class="actualités">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-12 pl-0 pr-0">
                    <div class=" title-news  title-section">Découvrez nos actualités</div>
                    <div class="paragraphe-news mt-45">
                        Lorem ipsum dolor sit armet, consecteteur
                        adipisicing elit,
                        sed do euismod tempor incididunt ut labore
                        et dolore magna aliqua.ut enim ad minim veniam ,quis nostrud exercitation ullamco
                        aboris ut aliquip ex ea commodo consequat. Duis autre irure dolore in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulle pariatur. Excepteur sint
                        occaaecat cupidata non


                    </div>
                </div>
            </div>
        </div>
    </section>





    <ul>
            {% for tagz in site.taggs %}
            <li>test {{tagz.name}}</li>
            {% endfor %}
        
        </ul>





 
    <!--Gallerie Actualites-->
  
    <section class=" gal-real mt-5 mb-5">
        <div class="container">

            <div id="gallerie-actualite">

                <div id="filtre-div" class="filtre-div  col-12 pl-0 pr-0 ">
                    <button id="all" class="btn btn-default filter-button text-uppercase  btn-active"
                        onclick="filtrer_act('all');">voir tout</button>

                        {% for tagx in site.taggs %}
                    <button id="{{tagx.tag_val}}" class="btn btn-default filter-button text-uppercase"
                        onclick="filtrer_act('{{tagx.tag_val}}');">{{tagx.name}}</button>
                        {% endfor %}
                  

                </div>

                <div class="row col-12 pl-0 pr-0">

                        {% for post in site.posts %}

                    <div class="gallery-act col-lg-4 col-md-4 col-sm-6 col-6 mt-5
                    {% for tags in post.news.taggx%}
                       {{tags}}
                      {% endfor %}
                      ">
                        <div class="card card-border-none">
                            <div class="act-tag">
                               
                                <img src="{{post.news_photo.photo_news1}}" class="img-100">
                            </div>
                            <div class="card-body pl-0 pr-0">
                                <div class="paragraphe-actualites mb-3">  {{ post.news.news_1 | strip_html | truncatewords: 50 }}    </div>
                                <span class="date-news ">{{ post.date | date_to_long_string }}</span>
                                <a href="{{ post.url | prepend: site.baseurl }}" class="card-link float-right ">LIRE LA SUITE</a>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>





    <div id="paging-real" class="container">
        <ul id="paginate_real" class="pagination justify-content-end .borderless"></ul>
    </div>





    {% include contact.html %}

    <script type="text/javascript"> 
        let tagsss =[[],[]];
         "{% for tagz in site.taggs %}"
             tagsss["{{tagz.tag_val}}"] = ["{{tagz.name}}"]
          "{% endfor %}"
      </script>
    {% include footer.html %}