---
title: Nos Compétences
layout: default
permalink: /competences
---

<!--etude-->

<div class="competence text-center"
    style="background-image:url('{{ site.baseurl }}/assets/img/slider/team-work.jpg');">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class=" header-realisation" data-aos="fade-up">
                Nos compétences
            </h1>
        </div>
        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item "><a href="{{ site.baseurl }}/" class="item-1">Accueil</a></li>
            <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/competance" class="item-1">
                    Nos compétences</a>
            </li>
        </ol>
    </div>
</div>

<section class="nav-etude">
    <div class="container container-nav-etude justify-content-center align-items-center">
        <div class="row">
            <div class=" justify-content-center align-self-center">
                <ul class="nav nav-pills justify-content-center align-self-center" id="pills-tab" role="tablist">

                    <li class="nav-item ">
                        <a class="nav-link pills-etude-link" id="pills-mission-tab" data-toggle="pill"
                            href="#pills-mission" role="tab" aria-controls="pills-mission" aria-selected="true">
                            Mission AMO grands projets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active pills-etude-link" id="pills-etude-tab" data-toggle="pill"
                            href="#pills-etude" role="tab" aria-controls="pills-etude" aria-selected="false">
                            études
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pills-etude-link" id="pills-expert-tab" data-toggle="pill"
                            href="#pills-expert" role="tab" aria-controls="pills-expert" aria-selected="false">
                            expertise / conseil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pills-etude-link" id="pills-logiciel-tab" data-toggle="pill"
                            href="#pills-logiciel" role="tab" aria-controls="pills-logiciel" aria-selected="false">
                            Logiciels spécialisés
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="tab-content" id="pills-Content">
        <div class="tab-pane fade" id="pills-mission" role="tabpanel" aria-labelledby="pills-mission-tab">
            <div class="container">
                <div class="title-news  title-section mt-0" data-aos="fade-up">Mission amo grands projets</div>
                <div class="row">
                    <div class="col-lg-7 pl-0 ml-w-0 ">
                        <div class="paragraphe-etudes text-justify">
                            <p>
                                Les équipes de Rail Concept possèdent une expérience particulièrement appréciée dans le
                                domaine des missions d'assistance à maitrise d'ouvrage.
                            </p>
                            <p>
                                Nos équipes intègrent à la fois des experts techniques ayant une très bonne vision
                                système
                                mais aussi d'anciens maîtres d'ouvrages ayant été en charge de la direction de projets
                                ferroviaires.
                            </p>
                            <p>
                                Ceci nous permet de travailler aux côtés de nombreux maîtres d'ouvrages ferroviaires ou
                                autorités organisatrices.
                            </p>
                            <p>Actuellement, nous intervenons notamment sur les projets suivants :</p>
                            <ul class="mt-3">
                                <li class="mt-2">
                                    Ligne 1 du métro d'Abidjan : direction de la maitrise d'ouvrage du
                                    projet de création d'une nouvelle ligne ferroviaire de 37,5 kilomètres
                                </li>
                                <li class="mt-2">
                                    Schéma Directeur de Saint Lazare : mission d'appui au pilotage et à la
                                    rédaction du schéma directeur pour le compte d'Ile-de-France Mobilité
                                </li>
                                <li class="mt-2">
                                    Paris Nantes : mission d'appui auprès de SNCF Réseau pour le pilotage des études
                                </li>
                                <li class="mt-2">
                                    Tunisie : définition du programme de modernisation des installations ferroviaires en
                                    partenariat avec la SNCFT.
                                </li>
                            </ul>
                            <p>
                                Ces missions sont des exercices très particuliers où il est indispensable de disposer
                                d’une
                                grande capacité à travailler en équipe et à s’insérer dans une organisation en place. Il
                                s’agit aussi d’être très attentif aux contraintes du maitre d’ouvrage, à l’évolution du
                                projet, de ses enjeux, de façon à proposer des solutions pertinentes et adaptées.
                            </p>
                            <p>
                                Il convient de plus d’avoir une grande capacité à analyser rapidement une somme
                                importante
                                d’information et d’être en mesure de les synthétiser.
                            </p>


                        </div>
                    </div>

                    <div class="col-lg-5 loope-etude  d-none d-lg-block " data-aos="fade-in" data-aos-delay="600">
                        <img src="{{ site.baseurl }}/assets/img/page-realisations/abidjan-l1.jpg"
                            class="img-fluid ">
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade show active" id="pills-etude" role="tabpanel" aria-labelledby="pills-etude-tab">
            <div class="container">
                <div class="title-news  title-section mt-0" data-aos="fade-up">études</div>
                <div class="row">
                    <div class="col-md-12 col-lg-7  pl-0 ml-w-0 " data-aos="fade-up" data-aos-delay="300">
                        <div class="paragraphe-etudes">
                            <p>
                                Rail Concept est aujourd'hui l'un des <b>bureaux d'études de référence dans le domaine
                                    des études ferroviaires amont</b>.
                            </p>
                            <p>
                                Nos équipes disposent à la fois d'une <b>forte expertise dans les domaines clefs </b>
                                (exploitation, infrastructure, prévisions de trafic et analyses socio-économiques,
                                études environnementales) et une <b>capacité à avoir une vision d'ensemble</b> (ou
                                vision système).
                            </p>
                            <p>
                                Nous disposons de très nombreuses références dans les domaines suivants :
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid-etude mt-5 pb-5 mb-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12  col-sm-12 pl-0 pr-0 etude-container-img" data-aos="fade-right">
                        <img src="{{ site.baseurl }}/assets/img/page-competences/image1-etudes.png"
                            class="img-fluid w-100">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12  pl-0 etude-container-right" data-aos="fade-left">

                        <div class="card-etude width">
                            <div data-aos="fade-in" data-aos-delay="600">
                                <div class="col-md-8 d-none d-lg-block">
                                    <img src="{{ site.baseurl }}/assets/img/page-realisations/etude.svg"
                                        class="img-fluid ">
                                </div>
                            </div>
                            <div class="title-card-etude">
                                Études Préliminaires
                            </div>

                            <div class="subtitle-card-etude">
                                <p>
                                    Nous avons travaillé sur de nombreux dossiers d'études préliminaires en zone dense
                                    où il
                                    s'agit de prendre en compte les contraintes d'exploitation et d'insertion.
                                </p>
                                <p>
                                    Nous pouvons notamment citer :
                                </p>
                            </div>

                            <ul class="liste-card-etude">

                                <li>
                                    Etudes préliminaires du noeud de Tours : nous venons de finaliser le dossier complet
                                </li>
                                <li>
                                    Etudes préliminaires de la liaison Tours - Saint-Pierre-des-Corps (étude de
                                    l'insertion de deux voies supplémentaires entre les deux gares)
                                </li>
                                <li>
                                    Etude de reconfiguration du plan de voie de Versailles-Chantier et de
                                    Conflans-Saint-Honorine
                                </li>
                                <li>
                                    Etude Préliminaires des aménagements à réaliser afin de mettre en place un service
                                    péri-urbain sur l'agglomération de Toulon : étude de la création de la gare des
                                    Playes, de reconfiguration des gares d’Ollioules- Sanary et de Carnoules
                                </li>
                            </ul>

                            <div class="subtitle-card-etude">
                                <p>
                                    Nous avons aussi travaillé sur des dossiers concernant des ouvrages importants en
                                    ligne :
                                </p>
                            </div>

                            <ul class="liste-card-etude">

                                <li>Etudes préliminaires du raccordement inversé de Saint-Brès</li>
                                <li>Etude préliminaires du dénivellement de la bifurcation de la Pauline</li>
                                <li>Etude préliminaires du dénivellement de la bifurcation de Grasse</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid-etude pt-5 pb-5 mt-5 mb-5">
                <div class="row">

                    <div class="col-lg-6 col-md-12  col-sm-12 order-lg-1 order-md-2 order-sm-2 pr-0 etude-container-left"
                        data-aos="fade-right">
                        <div class="card-etude  ">
                            <div class="title-card-etude ">
                                études exploitation
                            </div>

                            <div class="subtitle-card-etude">
                                <p>
                                    Rail Concept est aujourd'hui le bureau d'études français de référence dans le
                                    domaine des études d'exploitation.
                                </p>
                                <p>
                                    Nous disposons notamment d'une très forte expertise dans le domaine de l'étude des
                                    problématiques d'exploitation/régularité et robustesse au
                                    niveau des noeuds ferroviaires denses.
                                </p>
                                <p>
                                    Nous sommes par exemple intervenus sur les périmètres
                                    suivants :
                                </p>
                            </div>
                            <ul class="liste-card-etude ">
                                <li>
                                    Noeud ferroviaire lyonnais : nous travaillons depuis plus de dix ans au côté de la
                                    Direction Territoriale de SNCF Réseau sur les sujets d'exploitation comme par
                                    exemple l'étude d'impact du déploiement d'ERTMS niveau 2 et de la
                                    réception de deux trains sur une même voie à quai à Lyon-Part-Dieu.
                                </li>
                                <li>
                                    Noeud lillois
                                </li>
                                <li>
                                    Noeud de Bretigny : nous avons étudié l'impact sur la ponctualité des différents
                                    scénarios de réaménagements de la zone.
                                </li>
                                <li>
                                    Etude de l'axe Paris-Normandie : Nous avons évalué l'impact du déploiement d'ERTMS
                                    sur la ponctualité des services, notamment sur le noeud de Mantes
                                </li>
                                <li>
                                    Noeud ferroviaire marseillais. Nous avons réalisé un diagnostic complet de
                                    l'exploitation du noeud et nous avons étudié l'impact de différents scénarios
                                    concernant le remisage sur l'exploitation du noeud
                                </li>
                                <li>
                                    Noeud azuréen : nous avons réalisé un diagnostic complet de l'exploitation et évalué
                                    l'impact en termes de robustesse du déploiement d'ERTMS niveau 2
                                </li>
                                <li>
                                    Axe Metz - Luxembourg : analyse de l'impact en termes de capacité et de robustesse
                                    de différents scénarios d'investissement à l'horizon 2030.
                                    Nous intervenons ou sommes intervenus aussi sur le noeud d'Arras, de
                                    Nantes, de Tours...
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-1 order-sm-1 pr-0 pl-0 etude-container-img"
                        data-aos="fade-left">
                        <img src="{{ site.baseurl }}/assets/img/page-competences/schema-signalisation.jpg"
                            class="img-fluid w-100">
                    </div>
                </div>
            </div>



            <div class="container-fluid-etude pt-5 pb-5  mt-5 mb-5 ">
                <div class="row">
                    <div class="col-lg-6 col-md-12  col-sm-12 pl-0 pr-0 etude-container-img" data-aos="fade-right">
                        <img src="{{ site.baseurl }}/assets/img/page-competences/image2-etudes.png"
                            class="img-fluid w-100">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 pl-0 etude-container-right" data-aos="fade-left">
                        <div class="card-etude width">
                            <div class="title-card-etude ">
                                étude socio/économique
                            </div>

                            <div class="subtitle-card-etude">
                                <p>
                                    Rail Concept a réalisé de nombreuses études de trafic, études socio-économiques et
                                    études territoriales de projets ferroviaires.
                                </p>
                                <p>
                                    Nous avons notamment mis en place un modèle de prévisions trafic pour :
                                </p>
                            </div>
                            <ul class="liste-card-etude">
                                <li>
                                    La Région Grand Est
                                </li>
                                <li>
                                    Projet de modernisation de l'axe Mandelieu-Vintimille
                                </li>
                                <li>
                                    Déploiement d'ERTMS sur l'axe Marseille-Nice
                                </li>
                                <li>
                                    Mise en place de TERGV entre la France et l'Espagne
                                </li>
                                <li>
                                    Lignes à grande vitesse BPL et SEA
                                </li>
                            </ul>

                            <div class="subtitle-card-etude">
                                <p>
                                    Nous aussi avons réalisé les bilans socio-économiques de projets variés :
                                </p>
                            </div>
                            <ul class="liste-card-etude">
                                <li>
                                    Projet de création d'une gare nouvelle à Rungis intégrant notamment une valorisation
                                    de l'impact du projet en termes de régularité
                                </li>
                                <li>
                                    Projet de modernisation de l'axe Mandelieu-Vintimille : évaluation via des études
                                    d'exploitation de l'amélioration de la régularité des services et quantification de
                                    cet impact sur les usagers. Nous avons aussi valorisé l'impact du projet sur la
                                    décongestion routière
                                </li>
                                <li>
                                    Voie Mère de Calais : valorisation du projet de modernisation de la voie desservant
                                    le port de Calais en termes de trafic voyageurs et fret
                                </li>
                                <li>
                                    Noeud de Tours : valorisation de l'ensemble du programme d'aménagements visant à
                                    améliorer la régularité des services sur le noeud
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="pills-expert" role="tabpanel" aria-labelledby="pills-expert-tab">
            <div class="container">
                <div class="title-news  title-section mt-0" data-aos="zoom-in-up">Expertise / Conseil</div>
                <div class="row">

                    <div class="col-lg-7 pl-0 ml-w-0 ">
                        <div class="paragraphe-etudes text-justify">
                            <p>
                                Notre connaissance des nombreuses activités et problématiques du système ferroviaire, a
                                permis à nos experts et, par transmission, à nos ingénieurs, de développer des compétences
                                nous permettant ainsi de répondre à l’ensemble des domaines techniques concernés par
                                l’ingénierie des transports guidés.
                            </p>
                            <p>
                                L’expertise de nos collaborateurs et notre connaissance du monde ferroviaire dans son
                                ensemble, nous permettent d’accompagner nos clients, au-delà des résultats et conclusions
                                des études réalisées, dans la mise en œuvre de leurs projets et ce quelle que soit
                                l’activité principale concernée.
                            </p>
                            <p>
                                Rail Concept est ainsi en capacité de vous assister et de vous accompagner afin de
                                définir et concevoir les méthodologies et outils les plus adaptées à la réussite de votre
                                projet.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block ">
                        <img src="{{ site.baseurl }}/assets/img/page-competences/icon1-etudes.png"
                            class="img-fluid ">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-logiciel" role="tabpanel" aria-labelledby="pills-logiciel-tab">
            <div class="container">
                <div class="title-news  title-section mt-0" data-aos="zoom-in-up">Logiciels spécialisés</div>
                <div class="row">

                    <div class="col-md-7 pl-0 ml-w-0 " data-aos="flip-left">
                        <div class="paragraphe-etudes">
                            <div class="software_title">
                                RailLab
                            </div>
                            <div class="text-justify">
                                <p>
                                    RailLab est le fruit d’un long processus de Recherche & Développement réalisé par notre équipe d’experts en exploitation ferroviaire et nos développeurs au cours des 10 dernières années.  
                                    Nous l'utilisons quotidiennement dans le cadre de nos études dont il est devenu le support indispensable à nos productions
                                    Nous développons en permanence de nouvelles fonctionnalités afin de pouvoir répondre au mieux aux besoins spécifiques de nos clients dans un secteur ferroviaire en constante évolution. 
                                </p>
                                <p>
                                    Il peut fonctionner tant à l’échelle microscopique que macroscopique. Il a d’abord été conçu pour produire des études fines pour lesquelles il excelle et il est récemment devenu un outil de modélisation macroscopique.
                                    Sa souplesse d’utilisation lui permet de s’adapter à plusieurs échelles et ainsi de répondre aux grands enjeux de la planification ferroviaire.
                                    C'est un outil très ouvert aux connections avec d’autres systèmes, ayant intégré des passerelles vers THOR, Viriato, HOUAT, CAT, RailML, etc
                                </p>
                                <p>
                                Sa flexibilité facilite la conception d'un plan de transport durant toutes les étapes d'un projet ferroviaire. Il apporte ainsi toutes les clefs permettant de prendre les meilleures décisions.
                                </p>
                            </div>
                            <div class="text-justify">
                                 <p><b> Modélisation de l’infrastructure</b></p>
                                <p> 
                                L’interface de création des infrastructures s’adapte au niveau de détails nécessaire à chaque analyse.
                                Elle peut rester sommaire dans le cadre d’explorations très amonts ou reproduire finement les différents éléments de l’infrastructure (postes d’aiguillage, aiguilles, zones élémentaires, sections électriques…).
                                Tous les nouveaux systèmes de signalisation, BAL, TVM430, ERTMS, NExTEO, sont décrits précisément. Nous avons évalué leurs impacts avec succès lors de plusieurs études.
                                </p>
                            </div>
                            <div class="text-justify">
                                <p><b> Etudes amonts</b> </p>
                                <p>La construction d’une grille horaire est réalisée facilement au sein d’interfaces ergonomiques.
                                   Il est ensuite possible de visualiser des graphiques d’occupation des voies (voies), d’ajuster des marches et d’extraite les grilles horaires.
                                   Il permet également d’adapter facilement les plans de transport en situation de travaux.
                                </p>
                            </div>
                             <div class="text-justify">
                                <p><b> Etudes microscopiques</b> </p>
                                <p> Travaillant avec un niveau de précision à la seconde, il peut intégrer parfaitement l’ensemble des contraintes du système ferroviaire (profils en long, alimentation électrique, vitesses limites, masse et longueur des trains, capacités d’accélération, etc.).
                                    Un seul bouton rend disponible l’ensemble des conflits ainsi que les indicateurs de marges à voie libre. 
                                </p>
                            </div>
                             <div class="text-justify">
                                <p><b> Etudes de robustesse</b> </p>
                                <p> RailLab permet de simuler la réaction du système ferroviaire face aux incidents quotidiens ou à des perturbations plus importantes.
                                    A l'aide d'un module innovant, l’utilisateur peut injecter différents types de retards (unitaires ou en grand nombre) et replanifier les trains en cas de besoin, afin d’observer et d’en analyser les conséquences.
                                    Le simulateur permet à la fois de créer des horaires plus robustes et d’analyser l’impact sur la robustesse d’aménagements envisagés.
                                </p>
                            </div>
                            <div>    
                                <p>Retrouvez notre plaquette de présentation du logiciel <a href="/assets/img/page-competences/Plaquette RL V9_FR_2pages.pdf" target="_blank" title="lien vers la plaquette RL"> ici</a>. </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5 text-center" data-aos="flip-right">
                        <img src="{{ site.baseurl }}/assets/img/page-competences/infra_acces_alpins.png"
                            class="img-fluid software_img">
                        <img src="{{ site.baseurl }}/assets/img/page-competences/grille_rouen.png"
                            class="img-fluid software_img">
                    </div>
                </div>
                <div class="row mt-5 ">
                    <div class="col-md-5  text-center order-md-1  order-2 " data-aos="flip-left">

                        <img src="/assets/img/page-competences/ADEB.png"
                            class="img-fluid software_img">

                    </div>
                    <div class="col-md-7 pl-0 ml-w-0 order-md-2 order-1 " data-aos="flip-right">
                        <div class="paragraphe-etudes">
                            <div class="software_title">
                                ADEB
                            </div>
                            <div class="text-justify">
                                <p>
                                    Rail concept développe un outil permettant d’exploiter, par l’intermédiaire d’une
                                    interface graphique, les données issues de e-BREHAT, afin d’analyser de façon précise
                                    une section de ligne. Les informations extraites de e-BREHAT sont traitées pour
                                    permettre à nos experts d’analyser les charges de circulations, la régularité des
                                    circulations, les incidents qu’a subi une section de ligne.
                                </p>
                                <p>
                                    Les résultats sont disponibles sous formes de listes de trains, d'histogrammes 3D/2D, de
                                    camemberts, de courbes, d'arbre d'incidents, prêts pour une analyse approfondie.
                                </p>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include contact.html %}
{% include footer.html %}
