---
title: Mentions légales
layout: default
permalink: /mentions-legales
---









    <section class="actualités mt-5">
            <div class="container mt-5 mb-5">
                <div class="row mt-5">
                    <div class="col-md-12 pl-0 pr-0 mt-5" data-aos="fade-up" data-aos-delay="500">
                        <div class=" title-news  title-section mt-0">Mentions Légales</div>
                        <div class="paragraphe-news mt-45">
                           
                            
                        A generer




                        </div>
                    </div>
                </div>
            </div>
        </section>























{% include contact.html %}
{% include footer.html %}