---
title: Plan du site
layout: default
permalink: /plan-site
---

<div class="competence text-center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class=" header-realisation" data-aos="fade-up">
                Plan du site
            </h1>
        </div>
        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item "><a href="{{ site.baseurl }}/" class="item-1">Accueil</a></li>
            <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/plan_site" class="item-1">Plan du site</a>
            </li>
        </ol>
    </div>
</div>

<section class="actualités">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 pl-0 pr-0" data-aos="fade-up" data-aos-delay="500">
                <div class=" title-news  title-section mt-0">Plan du site</div>
                <div class="paragraphe-news mt-45">
                    <ul class=" ml-auto mt-5">
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}">Accueil</a></li>
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/qui-sommes-nous">nous
                                connaître</a></li>
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/competences">nos
                                compétences</a></li>
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/realisations">nos
                                réalisations</a></li>
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/nos-metiers">Nos
                                métiers</a></li>
                        <li class="pb-3 "><a class=" link-navbarx"
                                href="{{ site.baseurl }}/rejoignez-nous">carrières</a></li>
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/actualites">actualités</a>
                        </li>
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/contact">contact</a></li>
                        <!--
                        <li class="pb-3 "><a class=" link-navbarx" href="{{ site.baseurl }}/eng">Version anglaise</a>
                        </li>

                        -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>























{% include contact.html %}
{% include footer.html %}
