---
title: Qui sommes nous ?
layout: default
permalink: /qui-sommes-nous
---










    <!--realisations-->
    <div class="competence   text-center">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <h1 class="header-realisation">
                    QUI SOMMES-NOUS ?
                </h1>
            </div>

            <ol class="breadcrumb size-bread">
                <li class="breadcrumb-item "><a href="{{site.baseurl}}/" class="item-1">Accueil</a></li>
                <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
                <li class="breadcrumb-item active"><a href="{{site.baseurl}}/qui-sommes-nous" class="item-1">nous connaître</a>
                </li>
            </ol>

        </div>
    </div>



    <!--a-proposdenous-->
    <section id="nous" class="propos-de-nous poste mb-5">
        <div class="container ">
            <div class="row">
                <div class="col-md-8">
                    <div class=" title-news  title-section mt-0">à propos de nous</div>
                    <div class="paragraphe-news  ml-0 mb-5">

                        Fondé en 2006 sous l'impulsion d'Alain RICHARD et
                        André VERTODUSIC, deux anciens cheminots de la
                        SNCF Rail Concept est un bureau
                        d'étude indépendant spécialisé dans les activités
                        d'études et de conseil
                        liées à la création et l'aménagement d'infrastructures
                        et de services ferroviaires.

                        <div class="espace">Nous accompagnons les Maitres d'Ouvrage et Collectivités afin d'analyser,
                            optimiser et promouvoir leurs projets
                            ferroviaires. Notre expertise dans les domaines des études de la mobilité, de l'exploitation
                            et des études techniques
                            nous permet d'apporter une approche globale, innovante et rationnelle.
                        </div>
                        <div class="espace">La socété compte aujourd'hui une trenteine de salariés, répartis entre le
                            siège situé aux Angles (Près
                            d'Avignon) et les locaux à Paris.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-5 ml-0 pl-0 mb-5 d-flex align-items-center justify-content-center">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/nous.png" width="100%">
                </div>

            </div>
        </div>
    </section>



    <!--equipe -->

    <section id="notre-equipe" class="equipe mp-55 ">
        <div class="container">
            <div class=" title-news  title-section">Découvrez l'équipe</div>
            <div class="row">

<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Alain_Richard.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Alain_Richard.jpg</b>
                        <br>
                        Alain_Richard.jpg Poste
                        <br>-<br>
                        Alain_Richard.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Alix_Penichot.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Alix_Penichot.jpg</b>
                        <br>
                        Alix_Penichot.jpg Poste
                        <br>-<br>
                        Alix_Penichot.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Charles_Boisseau.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Charles_Boisseau.jpg</b>
                        <br>
                        Charles_Boisseau.jpg Poste
                        <br>-<br>
                        Charles_Boisseau.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Christophe_Arnaud.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Christophe_Arnaud.jpg</b>
                        <br>
                        Christophe_Arnaud.jpg Poste
                        <br>-<br>
                        Christophe_Arnaud.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Coralie_Simon.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Coralie_Simon.jpg</b>
                        <br>
                        Coralie_Simon.jpg Poste
                        <br>-<br>
                        Coralie_Simon.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Cyrille_Boisseau.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Cyrille_Boisseau.jpg</b>
                        <br>
                        Cyrille_Boisseau.jpg Poste
                        <br>-<br>
                        Cyrille_Boisseau.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Damien_Barbier.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Damien_Barbier.jpg</b>
                        <br>
                        Damien_Barbier.jpg Poste
                        <br>-<br>
                        Damien_Barbier.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/David_Fox.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>David_Fox.jpg</b>
                        <br>
                        David_Fox.jpg Poste
                        <br>-<br>
                        David_Fox.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Floriane_Biale.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Floriane_Biale.jpg</b>
                        <br>
                        Floriane_Biale.jpg Poste
                        <br>-<br>
                        Floriane_Biale.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Frederic_Richard.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Frederic_Richard.jpg</b>
                        <br>
                        Frederic_Richard.jpg Poste
                        <br>-<br>
                        Frederic_Richard.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Isabelle_Ruiz.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Isabelle_Ruiz.jpg</b>
                        <br>
                        Isabelle_Ruiz.jpg Poste
                        <br>-<br>
                        Isabelle_Ruiz.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Julien Presse.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Julien Presse.jpg</b>
                        <br>
                        Julien Presse.jpg Poste
                        <br>-<br>
                        Julien Presse.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Julien_Chassagne.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Julien_Chassagne.jpg</b>
                        <br>
                        Julien_Chassagne.jpg Poste
                        <br>-<br>
                        Julien_Chassagne.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Julien_Gaudremeau.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Julien_Gaudremeau.jpg</b>
                        <br>
                        Julien_Gaudremeau.jpg Poste
                        <br>-<br>
                        Julien_Gaudremeau.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Laure_Gazaix_Fontaine.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Laure_Gazaix_Fontaine.jpg</b>
                        <br>
                        Laure_Gazaix_Fontaine.jpg Poste
                        <br>-<br>
                        Laure_Gazaix_Fontaine.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Louis_Guegen.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Louis_Guegen.jpg</b>
                        <br>
                        Louis_Guegen.jpg Poste
                        <br>-<br>
                        Louis_Guegen.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Nadim_Fardoun.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Nadim_Fardoun.jpg</b>
                        <br>
                        Nadim_Fardoun.jpg Poste
                        <br>-<br>
                        Nadim_Fardoun.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Neeraj_Chaudhary.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Neeraj_Chaudhary.jpg</b>
                        <br>
                        Neeraj_Chaudhary.jpg Poste
                        <br>-<br>
                        Neeraj_Chaudhary.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Nicolas_Carboneill.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Nicolas_Carboneill.jpg</b>
                        <br>
                        Nicolas_Carboneill.jpg Poste
                        <br>-<br>
                        Nicolas_Carboneill.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Nicolas_Richard.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Nicolas_Richard.jpg</b>
                        <br>
                        Nicolas_Richard.jpg Poste
                        <br>-<br>
                        Nicolas_Richard.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Quentin_Pelegry.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Quentin_Pelegry.jpg</b>
                        <br>
                        Quentin_Pelegry.jpg Poste
                        <br>-<br>
                        Quentin_Pelegry.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Raphael_Blin.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Raphael_Blin.jpg</b>
                        <br>
                        Raphael_Blin.jpg Poste
                        <br>-<br>
                        Raphael_Blin.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Sonia_Florio.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Sonia_Florio.jpg</b>
                        <br>
                        Sonia_Florio.jpg Poste
                        <br>-<br>
                        Sonia_Florio.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Thomas_Cremades.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Thomas_Cremades.jpg</b>
                        <br>
                        Thomas_Cremades.jpg Poste
                        <br>-<br>
                        Thomas_Cremades.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Thomas_Pradeau.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Thomas_Pradeau.jpg</b>
                        <br>
                        Thomas_Pradeau.jpg Poste
                        <br>-<br>
                        Thomas_Pradeau.jpg description
                        </span>
                    </div>
                </div>
<div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Victor_Bidault.jpg" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Victor_Bidault.jpg</b>
                        <br>
                        Victor_Bidault.jpg Poste
                        <br>-<br>
                        Victor_Bidault.jpg description
                        </span>
                    </div>
                </div>







                

            </div>
            </div>
            <div class="text-center mt-5 mb-5">
                <a  class="savoir-plus show_hide" href="#" data-show="no">Voir plus</a>
            </div>
        </div>
       
    </section>

    {% include contact.html %}
    {% include footer.html %}