---
title: railconcept | Qui sommes nous ?
layout: head
permalink: qui-sommes-nous
---










    <!--realisations-->
    <div class="competence   text-center">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <h1 class="header-realisation">
                    QUI SOMMES-NOUS ?
                </h1>
            </div>
        </div>
    </div>



    <!--a-proposdenous-->
    <section class="propos-de-nous pt-5 mb-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <div class=" title-news  title-section">à propos de nous</div>
                    <div class="paragraphe-news mt-5 ml-0 mb-5">

                        Fondé en 2006 sous l'impulsion d'Alain RICHARD et
                        André VERTODUSIC, deux anciens cheminots de la
                        SNCF Rail Concept est un bureau
                        d'étude indépendant spécialisé dans les activités
                        d'études et de conseil
                        liées à la création et l'aménagement d'infrastructures
                        et de services ferroviaires.

                        <div class="espace">Nous accompagnons les Maitres d'Ouvrage et Collectivités afin d'analyser,
                            optimiser et promouvoir leurs projets
                            ferroviaires. Notre expertise dans les domaines des études de la mobilité, de l'exploitation
                            et des études techniques
                            nous permet d'apporter une approche globale, innovante et rationnelle.
                        </div>
                        <div class="espace">La socété compte aujourd'hui une trenteine de salariés, répartis entre le
                            siège situé aux Angles (Près
                            d'Avignon) et les locaux à Paris.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-5 ml-0 pl-0 mb-5 d-flex align-items-center justify-content-center">
                    <img src="assets/img/nos-metiers/nous.png" width="100%">
                </div>

            </div>
        </div>
    </section>



    <!--equipe -->

    <section class="equipe mp-55 ">
        <div class="container">
            <div class=" title-news  title-section">Découvrez l'équipe</div>
            <div class="row">
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>

                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
       
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>

                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>

                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>

                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4 ">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>
                <div class="team-person col-lg-2dot4 col-md-3 col-sm-4 col-4">
                    <img src="assets\img\nos-metiers\team.png" class="img-fluid img-team">
                    <div class="team-text text-center">
                       <span><b>Yvette Loirette</b>
                        <br>
                        Directrice Technique (CTO)
                        <br>-<br>
                        lorem ipsum dolor sit amet
                        consectetur adpisicing elit ,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore.
                        </span>
                    </div>
                </div>




            </div>
            <div class="text-center mt-5 mb-5">
                <a class="savoir-plus " href="#">Voir plus</a>
            </div>
        </div>
       
    </section>

    {% include contact.html %}
    {% include footer.html %}