---
title: Qui sommes nous ?
layout: default
permalink: /qui-sommes-nous
---










<div class="competence   text-center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class="header-realisation" data-aos="fade-up">
                QUI SOMMES-NOUS ?
            </h1>
        </div>

        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item "><a href="{{ site.baseurl }}/" class="item-1">Accueil</a></li>
            <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/qui-sommes-nous" class="item-1">nous connaître</a>
            </li>
        </ol>

    </div>
</div>



<!--a-proposdenous-->
<section id="nous" class="propos-de-nous poste">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <div class=" title-news  title-section mt-0 mb-5" data-aos="fade-up">à propos de nous</div>
                <div class="paragraphe-news  ml-0 mb-5"  data-aos="fade-up" data-aos-delay="300">

                    Fondé en 2006 sous l'impulsion d'Alain RICHARD et
                    André VERTODUSIC, deux anciens cheminots de la
                    SNCF Rail Concept est un bureau
                    d'étude indépendant spécialisé dans les activités
                    d'études et de conseil
                    liées à la création et l'aménagement d'infrastructures
                    et de services ferroviaires.

                    <div class="espace">Nous accompagnons les Maitres d'Ouvrage et Collectivités afin d'analyser,
                        optimiser et promouvoir leurs projets
                        ferroviaires. Notre expertise dans les domaines des études de la mobilité, de l'exploitation
                        et des études techniques
                        nous permet d'apporter une approche globale, innovante et rationnelle.
                    </div>
                    <div class="espace">La socété compte aujourd'hui une trenteine de salariés, répartis entre le
                        siège situé aux Angles (Près
                        d'Avignon) et les locaux à Paris.
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 ml-0 pl-0 mb-5 align-items-center justify-content-center d-none d-md-block" data-aos="fade-left"  data-aos-anchor="#team_" >
                <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/nous.png" width="100%">
            </div>

        </div>
    </div>
</section>



<!--equipe -->

<section id="notre-equipe" class="equipe mp-55 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div id="title_team" class="title-news title-section mb-5" data-aos="fade-up">Découvrez l'équipe</div>
                <div class="row team-grid">
    
                    <div id="team_1" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"    >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Alain_Richard.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Alain Richard</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
                    <div id="team_2" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_1"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Alix_Penichot.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Alix Penichot</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
                    <div id="team_3" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_2"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Charles_Boisseau.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Charles Boisseau</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
        <div id="team_4" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_3"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Christophe_Arnaud.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Christophe Arnaud</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_5" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_4"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Coralie_Simon.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Coralie Simon</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_6" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_5"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Cyrille_Boisseau.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Cyrille Boisseau</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_7" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_6" >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Damien_Barbier.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Damien Barbier</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_8" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_7"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/David_Fox.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">David Fox</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_9" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_8"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Floriane_Biale.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Floriane Biale</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_10" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_9" >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Frederic_Richard.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Frederic Richard</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_11" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_10"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Isabelle_Ruiz.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Isabelle Ruiz</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_12" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_11" >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Julien Presse.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Julien Presse</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_13" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_12"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Julien_Chassagne.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Julien Chassagne</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_14" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_13"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Julien_Gaudremeau.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Julien Gaudremeau</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_15" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_14"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Laure_Gazaix_Fontaine.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Laure Gazaix Fontaine</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_16" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_15"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Louis_Guegen.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Louis Guegen</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_17" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_16" >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Nadim_Fardoun.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Nadim Fardoun</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_18" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_17"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Neeraj_Chaudhary.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Neeraj Chaudhary</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_19" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_18"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Nicolas_Carboneill.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Nicolas Carboneill</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_20" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_19" >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Nicolas_Richard.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Nicolas Richard</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_21" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_20"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Quentin_Pelegry.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Quentin Pelegry</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_22" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_21"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Raphael_Blin.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Raphael Blin</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_23" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_22"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Sonia_Florio.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Sonia Florio</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_24" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_23"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Thomas_Cremades.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Thomas Cremades</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_25" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_24"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Thomas_Pradeau.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Thomas Pradeau</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    <div id="team_26" class="team-person col-xs-6 col-sm-4 col-md-3 col-lg-2dot4" data-aos="zoom-in"  data-aos-anchor="#team_25"  >
                        <img src="{{ site.baseurl }}/assets/img/page-nos-metiers/team/Victor_Bidault.jpg" class="img-fluid img-team">
                        <div class="team-text text-center">
                            <div class="name">Victor Bidault</div>
                            <div class="fonction">Directeur technique</div>
                            <div class="description">Lorem ipsum dolor sir amet, consectur addisciping lorem ipsum dolor sir amet, consectur addisciping</div>
                        </div>
                    </div>
    
    
    
    
    
    
    
                    
    
                </div>
                </div>
                <div id="show_more" class="text-center col-md-12 mt-5 mb-5">
                    <a  class="savoir-plus show_hide" href="{{ site.baseurl }}/#" data-show="no">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
   
</section>

    {% include contact.html %}
    {% include footer.html %}