---
title: Réalisations
layout: default
permalink: /realisations
---

 <!--realisations-->
 <div class="competence text-center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class=" header-realisation" data-aos="fade-up">
                nos réalisations
            </h1>
        </div>

        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item "><a href="{{ site.baseurl }}/" class="item-1">Accueil</a></li>
            <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/realisations" class="item-1">nos
                réalisations</a>
            </li>
        </ol>

    </div>
</div>

<!-- realisations details -->
<section class="realisations-recherche mt-5 pt-5 mb-5 pb-5">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 pl-0 pr-0 ">

            <ul id="ul-rech-real" class="nav nav-tabs">
                <li class="nav-item">
                    <div class="row">
                        <div class=" title-news  title-section mt-0 mb-5 " data-aos="fade-up" data-aos-delay="300">rechercher </div>
                    </div>
                </li>
                <li class="nav-item" data-aos="fade-right" data-aos-delay="400">

                    <div class="row">
                        <div class="col-11 pl-0 pr-0">
                            <a id="1" class="nav-link link-rech-real " data-toggle="tab" href="#missionxx" onclick="rech_releaseEvents(this);">
                                <div class="row">
                                    <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0">
                                        <div id="bg-circle-1" class="bg-circle image-active ">
                                            <img class="image-rech-real" src="{{site.baseurl }}/assets/img/page-realisations/icon1.png" height="27">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">
                                        MISSION AMO GRANDS PROJECTS</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-1 pl-0 pr-0 text-center">
                            <!-- <input type="checkbox" class="form-check-input rech-check" name="check-it" checked id="check01"> -->
                            <label class="containerLabel"> 
                                <input type="checkbox" checked="checked" class="form-check-input rech-check" name="check-it" checked id="check01">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </li>

                <li class="nav-item" data-aos="fade-right" data-aos-delay="400">
                    <div class="row">
                        <div class="col-11 pl-0 pr-0">
                            <a id="2" class="nav-link link-rech-real" data-toggle="tab" href="#etudexx" onclick="rech_releaseEvents(this);">
                                <div class="row">
                                    <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0">
                                        <div id="bg-circle-2" class="bg-circle ">
                                            <img class="image-rech-real" src="{{site.baseurl }}/assets/img/page-realisations/icon2.png" height="27">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">
                                        ètudes</div>
                                </div>
                            </a>
                        </div>

                        <div class="col-1 pl-0 pr-0 text-center">
                            <label class="containerLabel"> 
                                <input type="checkbox" class="form-check-input rech-check" name="check-it" id="check02">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </li>

                <li class="nav-item" data-aos="fade-right" data-aos-delay="400">
                    <div class="row">
                        <div class="col-11 pl-0 pr-0">
                            <a id="3" class="nav-link link-rech-real" data-toggle="tab" href="#expertxx" onclick="rech_releaseEvents(this);">
                                <div class="row">
                                    <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0">
                                        <div id="bg-circle-3" class="bg-circle  ">
                                            <img class="image-rech-real" src="{{site.baseurl }}/assets/img/page-realisations/icon3.png" height="27">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">
                                        EXPERTISE / CONSEIL</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-1 pl-0 pr-0 text-center">
                            <label class="containerLabel"> 
                                <input type="checkbox" class="form-check-input rech-check" name="check-it" id="check03">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </li>

                <li class="nav-item" data-aos="fade-right" data-aos-delay="400">
                    <div class="row">
                        <div class="col-11 pl-0 pr-0">
                            <a id="4" class="nav-link link-rech-real" data-toggle="tab" href="#logicielxx" onclick="rech_releaseEvents(this);">
                                <div class="row">
                                    <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0">
                                        <div id="bg-circle-4" class="bg-circle">
                                            <img class="image-rech-real" src="{{site.baseurl }}/assets/img/page-realisations/icon4.png" height="27">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">
                                        Vente Logiciel</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-1 pl-0 pr-0 text-center">
                            <label class="containerLabel"> 
                                <input type="checkbox" class="form-check-input rech-check" name="check-it" id="check04">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </li>



            </ul>
        </div>
        <div class="col-lg-7 col-md-7  col-sm-12 col-12 pl-0 pr-0">
            <div class="tab-content">
                <div class="tab-pane active" id="missionxx" role="tabpanel">
                    <div class="sv-tab-panel">
                        <div id="map1" class="g_map"></div>
                    </div>
                </div>
                <div class="tab-pane" id="etudexx" role="tabpanel">
                    <div class="sv-tab-panel">
                        <div id="map2x" class="g_map"></div>
                    </div>
                </div>
                <div class="tab-pane" id="expertxx" role="tabpanel">
                    <div class="sv-tab-panel">
                        <div id="map3x" class="g_map"></div>
                    </div>
                </div>
                <div class="tab-pane" id="logicielxx" role="tabpanel">
                    <div class="sv-tab-panel">
                        <div id="map4x" class="g_map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<!--Gallerie Realisations-->

<section class=" gal-real mt-5 mb-5">
    <div class="container">

        <div class=" title-news  title-section" data-aos="fade-up" data-aos-delay="">découvrez nos réalisations</div>
        <div class="small-paragraphe" data-aos="fade-up" data-aos-delay="">
            Rail Concept intervient sur des projets sur tout le territoire française mais aussi à l'internationale.
            <br>Nous sommes particulièrement implantés sur le continent africain et asiatique...
        </div>
        <div id="gallerie-real">

            <div id="filtre-div" class="filtre-div  col-12  pl-0 pr-0 " data-aos="fade-left" data-aos-delay="600">
                <button id="all" class="btn btn-default filter-button text-uppercase  btn-active" onclick="filtrer_gal('all');" >voir tout</button>
                <button id="magp" class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('magp');" >mission amo grands projets</button>
                <button id="etudex" class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('etudex');" >études</button>
                <button id="e-e" class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('e-e');" >expertise / conseil</button>
                <button id="vlogiciel" class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('vlogiciel');" >vente logiciel </button>


            </div>

          

            <div class="row col-12 grid_gal  pl-0 pr-0">

                <div class="gallery-real col-lg-4 col-md-4 col-sm-6 col-12 mt-5 text-center magp" data-aos="fade-up">
                    <a href="{{ site.baseurl }}/nos-realisations/mission-1">
                        <img src="{{site.baseurl }}/assets/img/page-realisations/amo/LNPCA.png" class="img-fluid real_img">
                        <div class="title-realisation mt-4 contenu-competence text-justify">
                            SNCF - Mission de maîtrise d'oeuvre Générale: Projet de ligne nouvelle Provence Côte d’Azur
                        </div>

                        <div class="sous-title">Provence Côte d’Azur (France)</div>
                    </a>
                </div>


            
            </div>





        </div>


    </div>
</section>





<div id="paging-real" class="mr">
    <ul id="paginate_real" class="pagination justify-content-end .borderless"></ul>
</div>










{% include contact.html %}
{% include footer.html %}