---
title: Réalisations
layout: default
permalink: realisations
---


    <!--realisations-->
    <div class="competence text-center">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <h1 class=" header-realisation" data-aos="flip-up">
                    nos réalisations
                </h1> 
            </div>
          </div>
          </div>
    
        <!-- realisations details -->
    
        <section class="realisations-recherche mt-5 pt-5 mb-5 pb-5">
    
    
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-12 pl-0 pr-0 ">
    
                    <ul id="ul-rech-real" class="nav nav-tabs">
                        <li class="nav-item">
                            <div class="row">
                                <div class=" title-news  title-section mt-0 mb-5 " data-aos="zoom-in-up">rechercher </div>
                            </div>
                        </li>
                        <li class="nav-item">
    
                            <div class="row">
                                <div class="col-11 pl-0 pr-0">
                                    <a id="1" class="nav-link link-rech-real " data-toggle="tab" href="#bloc1"
                                        onclick="rech_releaseEvents(this);">
                                        <div class="row">
                                            <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0"> 
                                            <div id="bg-circle-1" class="bg-circle image-active ">
                                                <img class="image-rech-real" src="assets/img/page-realisations/icon1.png"
                                                    height="27">
                                            </div>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">MISSION AMO GRANDS PROJECTS</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-1 pl-0 pr-0 text-center">
                                    <input type="checkbox" class="form-check-input rech-check" name="check-it" checked
                                        id="check01">
    
                                </div>
                            </div>
                        </li>
    
                        <li class="nav-item">
                            <div class="row">
                                <div class="col-11 pl-0 pr-0">
                                    <a id="2" class="nav-link link-rech-real" data-toggle="tab" href="#bloc2"
                                        onclick="rech_releaseEvents(this);">
                                        <div class="row">
                                                <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0"> 
                                                <div id="bg-circle-2" class="bg-circle ">
                                                    <img class="image-rech-real" src="assets/img/page-realisations/icon2.png"
                                                        height="27">
                                                </div>
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">ètudes</div>
                                            </div>
                                    </a>
                                </div>
    
                                <div class="col-1 pl-0 pr-0 text-center">
                                    <input type="checkbox" class="form-check-input rech-check" name="check-it" id="check02">
    
                                </div>
                            </div>
                        </li>
    
                        <li class="nav-item">
                            <div class="row">
                                <div class="col-11 pl-0 pr-0">
                                    <a id="3" class="nav-link link-rech-real" data-toggle="tab" href="#bloc3"
                                        onclick="rech_releaseEvents(this);">
                                        <div class="row">
                                                <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0"> 
                                                <div id="bg-circle-3" class="bg-circle  ">
                                                    <img class="image-rech-real" src="assets/img/page-realisations/icon3.png"
                                                        height="27">
                                                </div>
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">EXPERTISE / CONSEIL</div>
                                            </div>
                                    </a>
                                </div>
                                <div class="col-1 pl-0 pr-0 text-center">
                                    <input type="checkbox" class="form-check-input rech-check" name="check-it" id="check03">
    
                                </div>
                            </div>
                        </li>
    
                        <li class="nav-item">
                            <div class="row">
                                <div class="col-11 pl-0 pr-0">
                                    <a id="4" class="nav-link link-rech-real" data-toggle="tab" href="#bloc4"
                                        onclick="rech_releaseEvents(this);">
                                        <div class="row">
                                                <div class=" col-lg-3 col-md-4 col-sm-3 col-3 pl-0 pr-0"> 
                                                <div id="bg-circle-4" class="bg-circle">
                                                    <img class="image-rech-real" src="assets/img/page-realisations/icon4.png"
                                                        height="27">
                                                </div>
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-9 col-9 pl-0 pr-0 text-uppercase justify-content-center align-self-center">Vente Logiciel</div>
                                            </div>
                                    </a>
                                </div>
                                <div class="col-1 pl-0 pr-0 text-center">
                                    <input type="checkbox" class="form-check-input rech-check" name="check-it" id="check04">
    
                                </div>
                            </div>
                        </li>
    
    
    
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7  col-sm-12 col-12 pl-0 pr-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="bloc1" role="tabpanel">
                            <div class="sv-tab-panel">
                                <div id="map1" class="g_map"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bloc2" role="tabpanel">
                            <div class="sv-tab-panel">
                                <div id="map2x" class="g_map" ></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bloc3" role="tabpanel">
                            <div class="sv-tab-panel">
                                <div id="map3x" class="g_map" ></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bloc4" role="tabpanel">
                            <div class="sv-tab-panel">
                                <div id="map4x" class="g_map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </section>
    
    
       <!--Gallerie Realisations-->
        
        <section class=" gal-real mt-5 mb-5"  >
                <div  class="container">
                
                        <div class=" title-news  title-section"  data-aos="zoom-in-up">découvrez nos réalisations</div>
                        <div class="small-paragraphe">
                            Rail Concept intervient sur des projets sur tout le territoire française mais aussi à
                            l'internationale.
                            <br>Nous sommes particulièrement implantés sur le continent africain et asiatique...
                        </div>
                        <div id="gallerie-real" >
                                          
                                <div id="filtre-div" class="filtre-div  col-12  ">
                                    <button id="all"   class="btn btn-default filter-button text-uppercase  btn-active" onclick="filtrer_gal('all');">voir tout</button>
                                    <button id="magp"  class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('magp');">mission amo grands projets</button>
                                    <button id="etude" class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('etude');">études</button>
                                    <button id="e-e"   class="btn btn-default filter-button text-uppercase" onclick="filtrer_gal('e-e');">expertise / conseil</button>
                                   
                                </div>
                                            
                                 <div class="row col-12">
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  magp">
                                            <img src="assets/img/page-realisations/real1.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">STIF - Mission de maîtrise d'oeuvre Générale: OPERATION TANGENT
                                                (<span
                                                        class="colored">TGO</span> )
                                            </div>
                        
                                            <div class="sous-title">Yvelines (France) 1</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  etude">
                                            <img src="assets/img/page-realisations/real2.png" class="img-fluid">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude d'exploitation, de robustesse et de capacité en
                                                phase
                                                EP et AVP :
                                                <span class="colored">Gare de Lyon Part-Dieu</span>
                        
                                            
                                            </div>
                                                <div class="sous-title"> lyon (France) 2</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real3.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude de trafic et capacité
                                                <span class="colored">contributive du Projet GPSO</span>
                        
                                               
                                            </div>
                                             <div class="sous-title">aquitaine (France) 3</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  magp">
                                            <img src="assets/img/page-realisations/real1.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">STIF - Mission de maîtrise d'oeuvre Générale: OPERATION TANGENT
                                                (<span
                                                        class="colored">TGO</span> )
                                            </div>
                        
                                            <div class="sous-title">Yvelines (France) 4</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  etude">
                                            <img src="assets/img/page-realisations/real2.png" class="img-fluid">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude d'exploitation, de robustesse et de capacité en
                                                phase
                                                EP et AVP :
                                                <span class="colored">Gare de Lyon Part-Dieu</span>
                        
                                            
                                            </div>
                                                <div class="sous-title"> lyon (France) 5</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real3.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude de trafic et capacité
                                                <span class="colored">contributive du Projet GPSO</span>
                        
                                               
                                            </div>
                                             <div class="sous-title">aquitaine (France) 6</div>
                                    </div>
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real1.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">STIF - Mission de maîtrise d'oeuvre Générale: OPERATION TANGENT
                                                (<span
                                                        class="colored">TGO</span> )
                                            </div>
                        
                                            <div class="sous-title">Yvelines (France) 7</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real2.png" class="img-fluid">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude d'exploitation, de robustesse et de capacité en
                                                phase
                                                EP et AVP :
                                                <span class="colored">Gare de Lyon Part-Dieu</span>
                        
                                            
                                            </div>
                                                <div class="sous-title"> lyon (France) 8</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  magp">
                                            <img src="assets/img/page-realisations/real3.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude de trafic et capacité
                                                <span class="colored">contributive du Projet GPSO</span>
                        
                                               
                                            </div>
                                             <div class="sous-title">aquitaine (France) 9</div>
                                    </div>
    
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real2.png" class="img-fluid">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude d'exploitation, de robustesse et de capacité en
                                                phase
                                                EP et AVP :
                                                <span class="colored">Gare de Lyon Part-Dieu</span>
                        
                                            
                                            </div>
                                                <div class="sous-title"> lyon (France) 10</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  magp">
                                            <img src="assets/img/page-realisations/real3.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude de trafic et capacité
                                                <span class="colored">contributive du Projet GPSO</span>
                        
                                               
                                            </div>
                                             <div class="sous-title">aquitaine (France) 11</div>
                                    </div>
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real2.png" class="img-fluid">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude d'exploitation, de robustesse et de capacité en
                                                phase
                                                EP et AVP :
                                                <span class="colored">Gare de Lyon Part-Dieu</span>
                        
                                            
                                            </div>
                                                <div class="sous-title"> lyon (France) 12</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  magp">
                                            <img src="assets/img/page-realisations/real3.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude de trafic et capacité
                                                <span class="colored">contributive du Projet GPSO</span>
                        
                                               
                                            </div>
                                             <div class="sous-title">aquitaine (France) 13</div>
                                    </div>
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  e-e">
                                            <img src="assets/img/page-realisations/real2.png" class="img-fluid">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude d'exploitation, de robustesse et de capacité en
                                                phase
                                                EP et AVP :
                                                <span class="colored">Gare de Lyon Part-Dieu</span>
                        
                                            
                                            </div>
                                                <div class="sous-title"> lyon (France) 14</div>
                                    </div>
                        
                                    <div class="gallery-real col-lg-4 col-md-4 col-sm-4 col-6 mt-5  magp">
                                            <img src="assets/img/page-realisations/real3.png" class="img-fluid ">
                                            <div class="title-realisation mt-2 contenu-competence">SNCF RESEAU - Etude de trafic et capacité
                                                <span class="colored">contributive du Projet GPSO</span>
                        
                                               
                                            </div>
                                             <div class="sous-title">aquitaine (France) 15</div>
                                    </div>
                                </div>
                                </div>
        
                              
                </div>
            </section>
    
    
    
    
         
            <div id="paging-real" class="mr">
                    <ul id="paginate_real" class="pagination justify-content-end .borderless"></ul>
                </div>
       
          
    
    





{% include contact.html %}
{% include footer.html %}
