---
title: Search
layout: default
permalink: /search
---


<div id="results_search" class="mt-5 pt-5 mb-5 pb-5">

    <div class="container"> 
    <div class="title-news  title-section" data-aos="zoom-in-up">Résultats :</div> 
    <div class="row">

      <div class="col-12 pl-0 ml-w-0 ">
        <div class="paragraphe-etudes">
          <ul id="search-results">






          </ul>
        </div>
      </div>

    </div>
      </div>







</div>  
      <script>
       
        window.store = {

          {% for pages in site.pages %}     
          {% if pages.title != "railconcept | 404"  and pages.title != "railconcept | success" and pages.title != "..." and pages.title != '' and pages.title != "Search" and pages.url != "/assets/main.css" and pages.url != "/feed.xml" %}
         
          {% if pages.url contains "/en/" %}{% else %}
         
          {% assign pagecontent = pages.content | strip_html %}
          {% assign pcontent = pagecontent | split: "foooooterxxx" | first %}
            "{{ pages.url | slugify }}": {
              "type" : "page" ,
              "title": "{{ pages.title | xml_escape }}",
              "date": "{{ 'null' | xml_escape }}",
              "tag": "{{ 'null' | xml_escape}}",
              "dep": "{{ 'null' | xml_escape}}",
              "tdc": "{{'null'| xml_escape}}",
              "ldt": "{{ 'null' | xml_escape}}",
              "content": {{pcontent | strip_html | strip_newlines | jsonify}},
              "url": "{{ pages.url | xml_escape }}"
            }
            ,
            {% endif %}
            {% endif %}
          {% endfor %} 

          {% for post in site.posts %}
          {% assign tags = '' | split: '' %}
          {% for tag in post.news.taggx %} 
          {% assign tagval = tag |append: ',' | split: '_' | first | split: '' %}
          {% assign tags = tags | concat: tagval %}
          {% endfor %} 
         

            "{{ post.url | slugify }}": {
              "type" : "news",
              "title": "{{ post.title | xml_escape }}",
              "date": '{{ post.date | date_to_long_string }} À {{ post.date | date: "%HH%M" }}',
              "tag":  "{{tags}}",
              "dep": "{{ 'null' | xml_escape}}",
              "tdc": "{{'null'| xml_escape}}",
              "ldt": "{{ 'null' | xml_escape}}",
              "content": {{ post.news.news_1 | apppend: post.news.news_2|strip_html | strip_newlines | jsonify }},
              "url": "{{ post.url | xml_escape }}"
            }
            ,
            {% endfor %}
        
         
          {% for offre in site.odt %}
                {% if offre.tdp == "cdp"  and offre.active == true %}
        
                "{{ offre.url | slugify }}":{
              "type" : "jobs",
              "title": "{{ offre.title | xml_escape }}",
              "date": "{{ offre.date | xml_escape }}",
              "tag": "{{ 'null' | xml_escape}}",
              "dep": "{{ offre.dep | xml_escape}}",
              "tdc": "{{ offre.tdc | xml_escape}}",
              "ldt": "{{ offre.ldt | xml_escape}}",
              "content": {{ offre.poste | apppend: offre.entreprise | append: offre.profile | strip_html | strip_newlines | jsonify }},
              "url": "{{ post.url | xml_escape }}"
            }
            {% unless forloop.last %},{% endunless %}
            {% endif %}
          {% endfor %}

            };



            
      </script>










{% include contact.html %}

<script type="text/javascript"> 
  let tagsss =[[],[]];
   "{% for tagz in site.catnews %}"
       tagsss["{{tagz.name}}"] = ["{{tagz.title}}"]
    "{% endfor %}"
</script>

{% include footer.html %}