---
title: Carrieres
layout: default
permalink: /rejoignez-nous
---



<div class="competence rejoignez-nous  text-center">
  <div class="container  h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <h1 class="header-realisation" data-aos="fade-up">rejoignez-nous</h1>
    </div>

    <ol class="breadcrumb size-bread">
      <li class="breadcrumb-item "><a href="{{ site.baseurl }}/" class="item-1">Accueil</a></li>
      <li class="breadcrumb-item "><i class="fa fa-angle-double-right "></i></li>
      <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/rejoignez-nous" class="item-1">rejoignez-nous</a>
      </li>
    </ol>

  </div>
</div>


<!----poste--->
<section class="poste">
  <div class="container">
    <div class="row">
      <div class="col-md-7 pb-5" data-aos="fade-up">
        <div class=" title-news title-section" data-aos="fade-up" data-aos-delay="300">Trouvez le poste qui vous
          convient, éCriver votre propre histoire</div>
        <div class="paragraphe-news mt-5" data-aos="fade-up" data-aos-delay="500">Cum haec talia miscente consilia,
          tandem id ut optimum factu
          elegit: et Vrsicinum primum ad seCum haec litaaque sollicitas eius aures everberarent expositas
          semper

          venire summo cum honore mandavit ea specie ut pro rerum tunc
          arma minantiuatentes, varia animo tum miscente consilia, tandem id
          Parthicarum gentium a
          arma minantiuatentes, varia animo tum miscente consilia



        </div>
        <ul class="color-gray mb-5" data-aos="fade-up" data-aos-delay="700">
          <li>Lorem ipsum</li>
          <li>Lorem ipsum ipsum, Lorem ipsum!</li>
        </ul>
     
      </div>
      <div class="col-md-5" data-aos="fade-left" data-aos-delay="700">
        <div class="text-right mt-2">
          <img src="{{ site.baseurl }}/assets/img/page-rejoignez-nous/rejoignez-nous-offre.png" width="100%" class="">
        </div>
      </div>

    </div>
  </div>
  </div>
</section>


<!-----rejoignez----->
<section class="rejoignez">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mt-5" data-aos="fade-right" data-aos-delay="">
        <div class="title-actualites m-0">REjoignez une entreprise exceptionelle.
          Dotée d'une équipe d'exception.
        </div>
        <div class="paragraphe-news mt-5">LOREM IPSum dolor Cum haec talia miscente consilia, tandem id ut optimum
          factu
          elegit: et Vrsicinum primum ad seCum haec litaaque sollicitas eius aures everberarent expositas
          semper

          venire summo cum honore mandavit ea specie ut pro rerum tunc
          arma minantiuatentes, varia animo tum miscente consilia, tandem id
          Parthicarum gentium a
          arma minantiuatentes, vre mandavit ea specie ut pro rerum tunc
          arma minantivaria animaria animo tum miscente consilia

        </div>
      </div>

      <div class="col-md-5 mt-5" data-aos="fade-left" data-aos-delay="300">
        <div class="title-actualites m-0">TOut les profils ont une place au sein
          de notre équipe
        </div>
        <div class="paragraphe-news mt-5">LOREM IPSum dolor Cum haec talia miscente consilia, tandem id ut
          optimum factu
          elegit: et Vrsicinum primum ad seCum haec litaaque sollicitas eius aures everberarent expositas
          semper

          venire summo cum honore mandavit ea specie ut pro rerum tunc
          arma minantivaria animo tum miscente consilia



        </div>
      </div>
    </div>
  </div>
</section>




<!-- competences -->
{% include competances.html %}






<!---poste-a-pouvoir-->


<section id="poste-pouvoir" class="poste-a-pouvoir">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center pl-0 pr-0">
        <div class=" title-news  text-left title-section mt-5 mb-5" data-aos="fade-up" data-aos-delay="">LES postes à
          pourvoir
        </div>
        <div class="row">

          <ul class="nav nav-tabs offre-tabs">
            <li class="nav-item offre-nav-item col-4 chefprojet" data-aos="fade-up" data-aos-delay="200">
              <a href="#chefprojet" class="nav-link offre-tabs-link active" data-toggle="tab">

                <div class="card act-tag">
                  <div class="title-card-1">
                    CHEF DE <br>PROJET
                  </div>
                  <div class="position-icon-plus">
                    <i class="fas fa-minus-circle"></i>
                  </div>
                  <img class="img-fluid poste_offer_img"
                    src="{{ site.baseurl }}/assets/img/page-rejoignez-nous/img1.png">
                </div>
              </a>
            </li>
            <li class="nav-item offre-nav-item col-4 chargetude" data-aos="fade-up" data-aos-delay="400">
              <a href="#chargetude" class="nav-link offre-tabs-link" data-toggle="tab">
                <div class="card act-tag">
                  <div class="title-card-1">
                    CHargé<br> d'études
                  </div>
                  <div class="position-icon-plus">
                    <i class="fas fa-plus-circle"></i>
                  </div>
                  <img class="img-fluid poste_offer_img"
                    src="{{ site.baseurl }}/assets/img/page-rejoignez-nous/img2.png">
                </div>




              </a>
            </li>
            <li class="nav-item offre-nav-item col-4" data-aos="fade-up" data-aos-delay="600">
              <a href="#devlogiciel" class="nav-link offre-tabs-link" data-toggle="tab">


                <div class="card act-tag">
                  <div class="title-card-1">
                    Développeur <br> logiciel
                  </div>
                  <div class="position-icon-plus">
                    <i class="fas fa-plus-circle"></i>
                  </div>
                  <img class="img-fluid poste_offer_img"
                    src="{{ site.baseurl }}/assets/img/page-rejoignez-nous/img3.png">
                </div>

              </a>
            </li>
          </ul>
          <div class="tab-content w-100">
            <div class="tab-pane fade show active" id="chefprojet">



              <div class="container  chef-projet mt-2 mb-3 pt-3 pb-5 pr-4 pl-4  " data-aos="fade-up"
                data-aos-delay="600">
                <div class="title-para-news text-left">CHEF DE PROJET
                </div>
                <hr>
                {% assign counter = 0 %}
                {% for offre in site.odt %}
                {% if offre.tdp == "cdp"  and offre.active == true %}
                <div class="container  mt-2 mb-5">
                  <div class="row d-flex">
                    <div class="color-gray p-0 col-md-3 text-left my-auto">
                      <b>{{ offre.title }}</b><br>{{ offre.departement }}</div>
                    <div class="color-gray p-0 col-md-2 text-left  my-auto">{{ offre.date | date: "%d/%m/%Y" }}</div>
                    <div class="color-gray p-0 col-md-1 text-left  my-auto">{{ offre.tdc }}</div>
                    <div class="color-gray p-0 col-md-2 text-left my-auto">{{ offre.ldt }}</div>
                    <div class="color-gray p-0 col-md-4 text-center  my-auto "><span
                        onclick='get_offre("{{ offre.url | url_encode }}",this,event);'
                        class="card-link select_offre btn-float  w-100"><img
                          src="{{ base-url }}/assets/img/page-rejoignez-nous/icon-next.png"> Voir l'offre</span>
                    </div>
                  </div>
                </div>
                {% assign counter = counter | plus: 1 %}
                {% endif %}
                {% endfor %}
                {% if counter  == 0 %}
                <div class="color-gray p-0 col-12 text-center my-auto"><b>Pas de poste à pourvoir pour l’instant.</b>
                </div>
                {% endif %}

              </div>
            </div>





            <div class="tab-pane fade show " id="chargetude">



              <div class="container chef-projet mt-2 mb-3 pt-3 pb-5  ">
                <div class="title-para-news text-left">CHARGÉ D'ÉTUDE
                </div>
                <hr>

                {% assign counterx = 0 %}
                {% for offre in site.odt %}
                {% if offre.tdp == "cde" and offre.active == true %}
                <div class="container  mt-2">
                  <div class="row d-flex">
                    <div class="color-gray p-0 col-md-3 text-left my-auto">
                      <b>{{ offre.title }}</b><br>{{ offre.departement }}</div>
                    <div class="color-gray p-0 col-md-2 text-left  my-auto">{{ offre.date | date: "%d/%m/%Y" }}</div>
                    <div class="color-gray p-0 col-md-1 text-left  my-auto">{{ offre.tdc }}</div>
                    <div class="color-gray p-0 col-md-2 text-left my-auto">{{ offre.ldt }}</div>
                    <div class="color-gray p-0 col-md-4 text-center  my-auto "><span
                        onclick='get_offre("{{ offre.url | url_encode }}",this,event);'
                        class="card-link select_offre btn-float  w-100"><img
                          src="{{ base-url }}/assets/img/page-rejoignez-nous/icon-next.png"> Voir l'offre</span>
                    </div>
                  </div>
                </div>
                {% assign counterx = counterx | plus: 1 %}
                {% endif %}
                {% endfor %}
                {% if counterx  == 0 %}
                <div class="color-gray p-0 col-12 text-center my-auto"><b>Pas de poste à pourvoir pour l’instant.</b>
                </div>
                {% endif %}

              </div>
            </div>




            <div class="tab-pane fade show " id="devlogiciel">



              <div class="container chef-projet mt-2 mb-3 pt-3 pb-5  ">
                <div class="title-para-news text-left">DEVELOPPEUR LOGICIEL
                </div>
                <hr>


                {% assign counterxx = 0 %}
                {% for offre in site.odt %}

                {% if offre.tdp == "dl" and offre.active == true %}
                <div class="container  mt-2">
                  <div class="row d-flex">
                    <div class="color-gray p-0 col-md-3 text-left my-auto">
                      <b>{{ offre.title }}</b><br>{{ offre.departement }}</div>
                    <div class="color-gray p-0 col-md-2 text-left  my-auto">{{ offre.date | date: "%d/%m/%Y" }}</div>
                    <div class="color-gray p-0 col-md-1 text-left  my-auto">{{ offre.tdc }}</div>
                    <div class="color-gray p-0 col-md-2 text-left my-auto">{{ offre.ldt }}</div>
                    <div class="color-gray p-0 col-md-4 text-center  my-auto "><span
                        onclick='get_offre("{{ offre.url | url_encode }}",this,event);'
                        class="card-link select_offre btn-float  w-100"><img
                          src="{{ base-url }}/assets/img/page-rejoignez-nous/icon-next.png"> Voir l'offre</span>
                    </div>
                  </div>
                </div>
                {% assign counterxx = counterxx | plus: 1 %}
                {% endif %}
                {% endfor %}
                {% if counterxx  == 0 %}
                <div class="color-gray p-0 col-12 text-center my-auto"><b>Pas de poste à pourvoir pour l’instant.</b>
                </div>
                {% endif %}
              </div>
            </div>




          </div>
</section>









<!---poste-selectionne---->
<section id="offre_selectionne" class="poste-selectionne mb-5 pt-5 pb-5">
  <div class="container-fluid pl-0 pr-0 ">
    <div class="row">
      <div class="col-md-12 col-xl-6 col-lg-6 slider-news-caption white-bg pt-5 pb-5">
        <div class=" title-news text-left title-section" data-aos="fade-up" data-aos-delay="">POSTE séLECTIONNé</div>
        <div id="poste_selected" data-aos="fade-up" data-aos-delay=""></div>
        <div id="poste_contrat" class="paragraphe-news" data-aos="fade-up" data-aos-delay=""></div>
        <div class=" title-poste " data-aos="fade-right" data-aos-delay="300">Entreprise
        </div>
        <div id="entreprise" class="paragraphe-news " data-aos="fade-right" data-aos-delay="300">
        </div>
        <div class=" title-poste" data-aos="fade-right" data-aos-delay="600">Poste
        </div>
        <div id="poste" class="paragraphe-news " data-aos="fade-right" data-aos-delay="600">
        </div>

        <div class=" title-poste" data-aos="fade-right" data-aos-delay="900">Profil
        </div>
        <div id="profil" class="paragraphe-news " data-aos="fade-right" data-aos-delay="900">
        </div>
      </div>



      <div class="col-md-12 col-xl-6 col-lg-6 bg-metiers  ml-0 mt-0 etude-container-right pt-5 pb-5"
        data-aos="fade-left" data-aos-delay="600">
        <div class="container form-postul   pl-5 pr-5">
          <form action="/success" name="poste_submission" class="" method="post" enctype="multipart/form-data"
            netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-netlify="true">
            <div class=" title-news text-left title-section mb-5">POSTULER</div>

            <input type="text" id="selected_job" name="selected_job" class="hidden">

            <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>




            <div class="form-group ">
              <div class="row col-md-12 align-items-center pl-0 pr-0">
                <div class="col-md-3 col-sm-3 p-0">

                  <label for="input_cv" class="paragraphe-news text-right label-select">Curiculum vitae <span
                      class="colored">*</span></label>
                </div>
                <div class="col-md-9 col-sm-9 ">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input_cv" name="input_cv"
                      accept="image/jpeg,image/jpg,image/png,application/pdf,application/vnd.ms-word,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      required oninvalid="this.setCustomValidity('Veuiller choisir votre CV')"
                      oninput="setCustomValidity('')">
                    <label id="label_input_cv" class="custom-file-label bg-select width-form" for="input_cv"><span
                        id="fake_input_cv" class="parcourir">Parcourir</span></label>
                  </div>
                </div>
              </div>
            </div>



            <div class="form-group ">

              <div class="row col-md-12 align-items-center pl-0 pr-0">
                <div class="col-md-3 col-sm-3 p-0">
                  <label for="input_lm" class="paragraphe-news text-right label-select ">Lettre de motivation <span
                      class="colored">*</span></label>
                </div>
                <div class="col-md-9 col-sm-9 mt-10">

                  <div class="custom-file align-items-center">
                    <input type="file" class="custom-file-input" id="input_lm" name="input_lm"
                    accept="image/jpeg,image/jpg,image/png,application/pdf,application/vnd.ms-word,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    required
                      oninvalid="this.setCustomValidity('Veuiller choisir votre lettre de motivation')"
                      oninput="setCustomValidity('')">
                    <label id="label_input_lm" class="custom-file-label bg-select width-form" for="input_lm"><span
                        id="fake_input_lm" class="parcourir">Parcourir</span></label>

                  </div>
                </div>
              </div>
            </div>

            <div class="form-group ">

              <div class="row col-md-12 align-items-center pl-0 pr-0 handy">
                <div class="col-md-3 col-sm-3 p-0">
                  <label for="input_ad" class="paragraphe-news text-right label-select">Autre document <span
                      class="colored">*</span></label>
                </div>
                <div class="col-md-9 col-sm-9 mt-10 ">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input " id="input_ad" name="input_ad"
                    accept="image/jpeg,image/jpg,image/png,application/pdf,application/vnd.ms-word,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    >

                    <label id="label_input_ad" class="custom-file-label bg-select width-form" for="input_ad"><span
                        id="fake_input_ad" class="parcourir">Parcourir</span></label>

                  </div>

                </div>
              </div>
            </div>



            <div class="title-news text-left title-section mb-5">COORDONNéES</div>

            <div class="row mb-4">
              <div class="col-lg-6 col-12 pl-0">
                <input type="text" class="d_pers form-control bg-select" name="nom" placeholder="Nom*" required
                  oninvalid="this.setCustomValidity('Veuiller saisir votre nom')" oninput="setCustomValidity('')">
              </div>
              <div class="col-lg-6 col-12 pl-0">
                <input type="text" class="d_pers form-control bg-select" name="prenom" placeholder="Prénom*" required
                  oninvalid="this.setCustomValidity('Veuiller saisir votre prenom')" oninput="setCustomValidity('')">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-6 col-12 pl-0">
                <input type="email" class="d_pers form-control bg-select" name="email" placeholder="E-mail*" required
                  oninvalid="this.setCustomValidity('Veuiller saisir un email valid')" oninput="setCustomValidity('')">
              </div>
              <div class="col-lg-6 col-12 pl-0">
                <input type="number" class="d_pers form-control bg-select" name="phone" placeholder="Téléphone*"
                  required oninvalid="this.setCustomValidity('Veuiller saisir votre N° de Téléphone')"
                  oninput="setCustomValidity('')">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-8 col-lg-12 col-md-8 col-sm-8 col-12 pl-0">
                <div data-netlify-recaptcha="true"></div>
              </div>
              <div class="col-xl-4  col-lg-12 col-md-4 col-sm-4 col-12 text-right pt-4">
                <button type="submit"
                  class="btn btn-default btn-voir-poste mt-0  mb-5 text-uppercase btn-active bg-select-2 mb-2"
                  data-aos="zoom-in">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{% include contact.html %}
{% include footer.html %}