---
layout: realisation
---

<!--realisations-->
<div class="competence rejoignez-nous train text-center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class="header-realisation" data-aos="fade-up" data-aos-delay="">Nos réalisations</h1>
        </div>
        <ol class="breadcrumb size-bread">
            <li class="breadcrumb-item"><a href="" class="item-1">Accueil</a></li>
            <li class="breadcrumb-item"><i class="fa fa-angle-double-right"></i></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/nos_realisations" class="item-1">Nos réalisations</a></li>
        </ol>
    </div>
</div>

<!---mission-->
<section class="mission mt-5">
    <div class="container">
        <div class="col-md-12">
            <div class="title-section" data-aos="fade-up" data-aos-delay="400">
                {% if page.type-real == "mission" %} MISSION AMO GRAND PROJET {% endif %} 
                {% if page.type-real == "etudex" %} ÉTUDES {% endif %} 
                {% if page.type-real == "expert" %} EXPERTISE/CONSEIL {% endif %} 
                {% if page.type-real == "vente" %} VENTE LOGICIEL {% endif %}
            </div>
            <div class="title-section-sub mb-2" data-aos="fade-up" data-aos-delay="400">{{page.title}}</div>
            <div class="row">
                <div class="col-md-8 paragraphe-etudes" data-aos="fade-right" data-aos="fade-up" data-aos-delay="800">
                    <ul class="ul-mission p-0 mt-4 mb-4 color-gray">
                        <li class="li-mission pt-2">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-4 m-0 p-0"><b>Donneur d'ordre:</b></div>
                                    <div class="col-8 m-0 p-0">{{page.donneur_ordre}}</div>
                                </div>
                            </div>
                        </li>
                        <!-- Donneur d’ordre    -->
                        <li class="li-mission pt-2">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-4 m-0 p-0"><b>Date:</b></div>
                                    <div class="col-8 m-0 p-0">{{page.annee_real}}</div>
                                </div>
                            </div>
                        </li>
                        <!-- Année de réalisation    -->
                        <li class="li-mission pt-2">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-4 m-0 p-0"><b>Durée:</b></div>
                                    <div class="col-8 m-0 p-0">{{page.duree}}</div>
                                </div>
                            </div>
                        </li>
                        <!--laisser comme ca contenu manquant-->
                    </ul>
                    <div class="mt-3 pt-3 pb-5" markdown="1">
                        <p>{{page.text1 | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- have to put this here because containers otherwise it would be after </section> --> 
        <hr />

    </div>
</section>

<!---contexte-->

{% assign pageContextContent = page.context | markdownify | strip_html | strip  %}
{% if pageContextContent != ""  %}
    <section class="contexte mt-100 pt-5 pb-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8" data-aos="fade-right" data-aos="fade-up" data-aos-delay="">
                        <div class="title-section">Contexte</div>
                        <div class="paragraphe-etudes mt-5" markdown="1">
                            <p>{{page.context | markdownify }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<div class="container-fluid-etude pt-5 pb-5 mt-5 mb-5">
    <div class="row">
        {% if page.lat != "" and page.long != "" %}
            <div class="col-lg-6 col-md-12 col-sm-12 ps-0 pe-0 etude-container-img pb-5" data-aos="fade-right" data-aos-delay="">
                <div
                    style="height: 600px;"
                    class="gmap"
                    data-gmap-opts='{
                        "center": { "lat": {{ page.lat }}, "lng": {{ page.long }} },
                        "zoom": 12,
                        "disableDefaultUI": true,
                        "markers": [
                            { 
                                "lat": {{ page.lat }}, 
                                "lng": {{ page.long }}
                            }
                        ]
                    }'>
                </div>
            </div>
        {% endif %}

        {% assign pageRealContent = page.real | markdownify | strip_html | strip  %}
        
        {% if pageRealContent != ""  %}
            <div id="mission-map-desc" class="col-lg-6 col-md-12 col-sm-12 ps-0 etude-container-right" data-aos="fade-left" data-aos-delay="300">
                <div class="card-etude width">
                    <div class="title-card-etude ps-0">prestation réalisée</div>
                    
                    <div class="liste-card-etude para-white p-0" markdown="1">
                        <!-- Réalisation -->
                        <p>{{page.real | markdownify}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% include contact.html %} 
{% include footer.html %}

<script>
    $(document).ready(function() {
        $('#carousel-control-prev-1').click(function(e) {
            e.preventDefault();
            $('#main-sliderx').carousel('prev');
            });

            $('#carousel-control-next-1').click(function(e) {
                e.preventDefault();
            $('#main-sliderx').carousel('next');
        });
  });
</script>