{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "OAuthProviderOptions_AuthorizeHost": "https://github.com",
    "OAuthProviderOptions_AuthorizePath": "/login/oauth/authorize",
    "OAuthProviderOptions_ClientId": "<your github oauth client id>",
    "OAuthProviderOptions_ClientIdKey": "client_id",
    "OAuthProviderOptions_ClientSecret": "<your github oauth client secret>",
    "OAuthProviderOptions_OriginPattern": "localhost:7071",
    "OAuthProviderOptions_Provider": "github",
    "OAuthProviderOptions_RedirectUri": "http://localhost:7071/admin/swa_code_bypass",
    "OAuthProviderOptions_Scope": "repo,user",
    "OAuthProviderOptions_TokenHost": "https://github.com",
    "OAuthProviderOptions_TokenPath": "/login/oauth/access_token"
  }
}
